@import "mixins";
@import '../helpers/_variables.scss';

// Dialogs
.el-dialog {
  width: 30%;
  margin-top: 5vh !important;
  // height: 90vh;
  overflow-y: auto;
  border-radius: 16px;
  @include respond(md) {
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: auto;
    margin: 0;
  }
}
.gh-container--dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    text-align: center;
    margin-bottom: $gap * 4;

    .logo-border {
      border: solid 1px #ffb640;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
      @include respond(md) {
        height: 80px;
        width: 80px;
      }
      .logo-image {
        @include respond(md) {
          height: $gap * 4;
          width: $gap * 4;
        }
      }
    }

    .header {
      font-size: $gap * 2;
      margin-bottom: 17px;
    }
  }

  &__content {
    width: 90%;
    margin: 0 auto;

    .actions {
      margin-top: 15px;
      text-align: center;

      .el-button {
        width: 100%;
        margin-top: $gap * 4;
      }
    }

    @include respond(md) {
      width: 100%;
    }
  }
  .mt-20 {
    margin-top: $gap * 2;
  }
  a {
    color: #03a84e;
    text-decoration: none;
    margin-left: 8px;
  }

  @include respond(md) {
    width: 100%;

    .sub-head {
      text-align: left;
    }
    .btn-submit {
      margin-top: $gap * 4;
      border-radius: 8px;
      padding-top: $gap;
      padding-bottom: $gap;
    }
  }
}

.el-card {
  border: none;
}

.popper__arrow {
  display: none !important;
}


.el-radio__inner {
  border: none !important;
  width: 8px !important;
  height: 8px !important;
}
.el-radio__input.is-checked .el-radio__inner::after {
  transform: translate(0%, 0%) scale(0) !important;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #0f241b !important;
}
.el-radio__input.is-disabled .el-radio__inner {
  width: 8px !important;
  height: 8px !important;
  background-color: #e2e9e6 !important;
}
.el-radio__input.is-disabled + span.el-radio__label {
  color: #4b6358 !important;
}

// Input
.el-input__inner {
  @include font-family(cerebri)
}
