.gh-container {
  &-settings {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    @include respond(md) {
      max-width: 100%;
    }
  }
}

.home {
  &__banner {
    background-color: color(eden-neutral-8);
    color: color(eden-neutral-7);
    padding: $gap * 6.4 0;
    text-align: center;
    margin-top: 48px;
    border-radius: $gap * 1.6;
    h1 {
      @include font-size(4xl);
    }
    p {
      @include font-size(xl);
    }
    @include respond(md) {
      padding: $gap * 4;
      h1 {
        @include font-size(2xl);
      }
      p {
        @include font-size(base);
      }
    }
  }
  &__services {
    margin-top: $gap * 3.2;
    text-align: center;
    &-card {
      border-radius: 16px;
      width: $gap * 54.5;
      color: color(eden-neutral-0);
      h5 {
        @include font-size(2xl);
        margin-bottom: 8px;
      }
      @include respond(md) {
        width: 100%;
        margin-top: $gap * 2.4;
        @include font-size(base);
        h5 {
          @include font-size(xl);
          margin-bottom: $gap * 2;
        }
      }
      @include respond(lg) {
        width: 100%;
        margin-top: $gap * 2.4;
      }
      .el-card__body {
        padding: 20px 80px 0;
        height: 396px;
        p {
          font-size: 16px;
          line-height: 24px;
        }
        @include respond(md) {
          padding: 20px 16px 0;
          .mt-2 {
            margin-top: $gap * 4;
          }
        }
        @include respond(lg) {
          .mt-2 {
            margin-top: $gap * 4;
          }
        }
      }
      &.orange-bg {
        background-color: color(eden-orange-50);
      }
      &.purple-bg {
        background-color: color(eden-purple-50);
      }
      &.blue-bg {
        background-color: color(eden-blue-50);
      }
      &.green-bg {
        background-color: color(eden-green-senary);
      }
    }
    @include respond(md) {
      margin-top: $gap * 2.4;
      .mt-2 {
        margin: 0;
      }
    }
    @include respond(lg) {
      margin-top: $gap * 2.4;
      .mt-2 {
        margin: 0;
      }
    }
  }
  &__chat {
    .el-button {
      color: color(eden-neutral-7);
      border: 0;
      p {
        display: flex;
      }
      &:hover,
      &:focus {
        background-color: color(eden-neutral-0);
        color: color(eden-neutral-7);
      }
    }
    &-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $gap $gap * 1.6;
      position: fixed;
      width: $gap * 12.9;
      height: $gap * 4;
      right: $gap * 2.4;
      bottom: $gap * 2;
      background-color: color(eden-neutral-0);
      color: color(eden-neutral-7);
      border-radius: 12px 12px 0px 12px;
    }
    &-trigger {
      p {
        padding: $gap * 1.5 0;
        color: color(eden-neutral-8);
        cursor: pointer;
        a {
          color: color(eden-neutral-8);
        }
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.settings {
  margin-top: $gap * 4.8;
  .el-aside {
    width: 235px;
    .el-menu {
      border: none;
    }
    h1 {
      @include font-size(4xl);
      @include font-weight(bold);
      line-height: $gap * 3.6;
      color: #0f241b;
    }
    .el-menu-item-group {
      &__title {
        padding-left: 0 !important;
      }
      width: 256px;
      ul {
        border: 1px solid #f0f4f2;
        border-radius: 16px;
        margin-top: $gap * 2.4;
        .el-menu-item {
          padding: 12px 15px;
          border-bottom: 1px solid #f0f4f2;
          display: flex;
          align-items: center;
          padding-left: 0;
          &:hover,
          &:focus {
            background-color: transparent;
          }
          &.is-active {
            @include font-weight(medium);
          }
        }
      }
    }
  }
  &__details {
    border: 1px solid #f0f4f2;
    border-radius: $gap * 1.6;
    .el-header {
      @include font-weight(bold);
      @include font-size(xl);
      padding: $gap * 1.6;
      border-bottom: 1px solid #f0f4f2;
      display: flex;
      align-items: center;
      h1 {
        @include font-size(xl);
      }
      .el-text {
        font-size: 14px;
        color: #4b6358;
        margin-top: 4px;
      }
    }
    form {
      padding: 16px 24px;
    }
  }
  .el-main {
    margin-top: $gap * 5.4;
    @include respond(md) {
      margin-top: 0;
      .margin-bottom-32 {
        @include font-size(3xl);
      }
    }
  }
  @include respond(md) {
    margin-top: $gap * 2;
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.show-password {
  position: absolute;
  top: 5px;
  right: 12px;
  font-weight: 500;
  cursor: pointer;
}
