// colors
$colors: (
  eden-neutral-1: #21312a,
  eden-neutral-2: #57645e,
  eden-neutral-3: #798b83,
  eden-neutral-4: #93a29b,
  eden-neutral-5: #c9d0cd,
  eden-neutral-6: #e4e8e6,
  eden-neutral-7: #ffffff,
  //
  eden-primary: #03a84e,
  eden-primary-50: #ebfff5,
  eden-primary-100: #deffef,
  eden-primary-150: #a2f0c5,
  eden-primary-200: #61db98,
  eden-primary-250: #008d40,
  //
  eden-orange: #ff9d00,
  eden-orange-50: #fff3eb,
  eden-orange-100: #ffebde,
  eden-orange-150: #ffac76,
  //
  eden-red: #ff1f00,
  eden-red-50: #ffe8e5,
  //
  eden-purple: #5571ff,
  eden-purple-50: #f7f8fe,
  eden-purple-100: #e5e9fc,
  eden-purple-150: #dae0ff,
  eden-purple-200: #a0b0fe,
  eden-purple-250: #7189ff,
  //
  eden-blue: #00c0ea,
  eden-blue-50: #f7fdff,
  eden-blue-100: #ebfaff,
  eden-blue-150: #d1f2fa,
  eden-blue-200: #a9eaff,
  eden-blue-250: #7ddbf0,
  //
  eden-laundary: rgba(212, 219, 250, 0.6),
  eden-food: rgba(222, 255, 239, 0.6),
  eden-cleaning: rgba(255, 235, 222, 0.6),
  eden-gifting: #ebfaff,
);

// fonts
$font-families: (
  cerebri: 'Cerebri Sans',
  pt-serif: 'PT Serif',
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

$font-sizes: (
  xs: 0.75rem,
  //12px
  sm: 0.875rem,
  //14px
  base: 1rem,
  //16px
  lg: 1.125rem,
  //18px
  xl: 1.25rem,
  //20px
  2xl: 1.5rem,
  //24px
  3xl: 1.75rem,
  //28px
  4xl: 2rem,
  //32px
  5xl: 2.25rem,
  //36px
  6xl: 2.625rem,
  //42px
  7xl: 3rem,
  //48px
  8xl: 3.375rem,
  //54px
  9xl: 3.75rem,
  //60px
  10xl: 4.25rem,
  //68px,,,,,,,,,,,
);

// spacing
$gap: 10px;
