@import '../../style.scss';

.container {
  width: 100%;
  &--footer {
    background-color: color(eden-neutral-7);
    background-image: url('https://res.cloudinary.com/eden-life-inc/image/upload/v1611340416/eden-website-v2/footer-bg1_okumin.svg'),
      url('https://res.cloudinary.com/eden-life-inc/image/upload/v1611340416/eden-website-v2/footer-bg2_ccimi0.svg');
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
    @include respond(md) {
      background: none;
    }
  }
}

.footer {
  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background-color: color(eden-green-secondary);
    width: 83%;
    margin: 0 auto 0 auto;
    z-index: 99;
    height: 400px;
    position: relative;
    z-index: 2;

    &-title {
      h3 {
        line-height: 62px;
        @include font-size(7xl);
        @include font-weight(bold);
        color: color(eden-neutral-1);
      }
      p {
        line-height: 28px;
        @include font-size(xl);
        color: color(eden-neutral-1);
        margin: $gap + 2 0 $gap * 3.6 0;
      }
    }
    &-link {
      display: flex;
      a {
        &:first-child {
          margin-right: $gap * 2.6;
        }
      }
    }
    @include respond(md) {
      flex-direction: column;
      width: 90%;
      height: unset;
      &-image {
        height: 313px;
        order: -1;
        // margin-top: -$gap * 2;
      }

      &-title {
        text-align: center;
        margin-top: $gap * 3.2;
        h3 {
          line-height: 42px;
          @include font-size(4xl);
        }
        p {
          line-height: 29px;
          @include font-size(lg);
          width: 80%;
          margin: $gap + 2 auto $gap * 4 auto;
        }
      }
      &-link {
        flex-direction: column;
        gap: $gap + 7;
        margin-bottom: $gap * 6.5;
        a {
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
    @include respond(xxl) {
      max-width: 1440px;
      margin: 0 auto;
    }
  }
  &__bottom {
    width: 83%;
    margin: -193px auto 0 auto;
    padding: $gap * 36 0 $gap * 4.8 0;
    display: flex;
    justify-content: space-between;

    &-title {
    }
    &-social {
      margin-bottom: $gap * 2.7;
      display: flex;
      align-items: center;
      a {
        &:first-child {
          margin-left: 0;
        }
        margin-left: $gap * 2.1;
      }
      &.mobile {
        display: none;
      }
    }
    &-mission {
      margin: $gap * 2.4 0 $gap * 6.7 0;
      @include font-size(base);
      line-height: 24px;
      color: color(eden-neutral-2);
    }
    &-copywright {
      @include font-size(base);
      line-height: 24px;
      color: color(eden-neutral-1);
      &.mobile {
        display: none;
      }
    }
    &-nav {
      display: flex;
      justify-content: space-between;
      ul {
        &:first-child {
          margin-left: 0;
        }
        margin-left: $gap * 14;
        li {
          list-style: none;
          @include font-size(base);
          line-height: 24px;
          color: color(eden-neutral-1);
          padding-bottom: $gap * 2;
          p {
            @include font-size(base);
            @include font-weight(semi-bold);
            line-height: 24px;
            color: color(eden-neutral-1);
          }
          a {
            transition: all 0.3s ease-in-out;
            &:hover {
              color: color(eden-green-primary);
            }
          }
        }
      }
    }

    @include respond(md) {
      flex-direction: column;
      margin: 0 auto 0 auto;
      padding: $gap * 8 0 $gap * 4.8 0;
      &-mission {
        margin: $gap * 2.4 0 $gap * 4.8 0;
      }
      &-nav {
        display: flex;
        flex-wrap: wrap;
        gap: 0;

        ul {
          flex: 0 0 40%;
          margin-bottom: $gap * 4;
          margin-left: 0;
          &:last-child {
            flex: 0 0 50%;
          }
          &:nth-child(2) {
            order: -1;
          }
        }
      }
      &-social {
        display: none;
        a {
          flex: 0 0 10%;
        }
        &.mobile {
          display: flex;
        }
      }
      &-copywright {
        display: none;
        @include font-size(base);
        line-height: 24px;
        color: color(eden-neutral-1);
        &.mobile {
          display: block;
        }
      }
    }
    @include respond(xxl) {
      max-width: 1440px;
      margin: -193px auto 0 auto;
    }
  }
}
