@import '../../style.scss';

.container {
  &--hero {
    width: 100%;
    background-color: color(eden-blue-50);
    margin-top: 100px;
  }
  &--description {
    width: 100%;
    background-color: color(eden-blue-50);
  }
  &--humaans {
    width: 100%;
    background-color: color(eden-blue-50);
  }
  &--opening {
    width: 100%;
    background-color: color(eden-neutral-7);
  }
}

.hero {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 10 0 $gap * 17 0;
  background-color: color(eden-blue-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    color: color(eden-neutral-1);
    flex: 0 0 45%;
    h1 {
      line-height: 70px;
      @include font-size(8xl);
      @include font-weight(bold);
      span {
        color: color(eden-green-primary);
        box-shadow: inset 0 -23px 0 #c9f8de;
      }
    }
    p {
      margin: $gap * 3.2 0 $gap * 4 0;
      line-height: 29px;
      @include font-size(lg);
      width: 85%;
    }
  }
  &__button {
    display: flex;
    gap: $gap * 2.4;
    &-solid {
      line-height: 23px;
      @include font-size(lg);
      background-color: color(eden-green-primary);
      color: color(eden-neutral-7);
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      padding: $gap * 2 $gap * 3.2;

      &:hover {
        box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
        background-color: color(eden-green-250);
        color: color(eden-neutral-7);
      }
      &:active {
        background-image: radial-gradient(
          circle at center right,
          rgba(0, 141, 64, 0.1) 50%,
          #008d40 50%
        );
      }
    }
  }
  &__img {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-bg1 {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @include respond(md) {
    flex-direction: column;
    width: 100%;
    padding: $gap * 10 0 $gap * 13 0;

    &__title {
      width: 100%;
      text-align: center;
      h1 {
        line-height: 47px;
        @include font-size(5xl);
      }
      p {
        line-height: 24px;
        @include font-size(base);
        margin: $gap * 2.4 auto $gap * 5.5 auto;
        width: 90%;
      }
    }
    &__button {
      width: 90%;
      flex-direction: column;
      margin: 0 auto;
    }
    &__img {
      width: 90%;
      margin-top: $gap * 5.4;
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.description {
  margin: 0 auto;
  width: 83%;
  display: flex;
  justify-content: space-between;
  padding-bottom: $gap * 12;
  gap: 3px;
  &__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    padding: $gap * 5 $gap * 2.8 $gap * 4 $gap * 2.8;
    &.cause {
      h3 {
        background-color: color(eden-orange-100);
      }
    }
    &.effect {
      h3 {
        background-color: color(eden-laundary);
      }
    }
    &.change {
      h3 {
        background-color: color(eden-red-50);
      }
    }
    h3 {
      border-radius: 16px;
      padding: $gap - 4 $gap + 2;
      line-height: 52px;
      @include font-size(6xl);
      align-self: flex-start;
    }
    h5 {
      margin: $gap * 3.2 0 $gap + 2;
      @include font-size(xl);
      line-height: 26px;
      @include font-weight(bold);
      color: color(eden-neutral-1);
    }
    p {
      line-height: 29px;
      @include font-size(lg);
      color: color(eden-neutral-1);
      @include font-weight(light);
      margin-bottom: $gap * 2.8;
    }
  }
  @include respond(md) {
    flex-direction: column;
    width: 90%;
    padding-bottom: $gap * 4;

    &__card {
      padding: 0 0 $gap * 8 0;
      align-items: center;
      h3 {
        align-self: center;
      }

      p {
        text-align: center;
        margin-bottom: 0;
        @include font-size(base);
        line-height: 24px;
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.humaans {
  margin: 0 auto;
  width: 83%;
  padding-bottom: $gap * 10;
  &__title {
    margin-bottom: $gap * 8.5;
    h3 {
      line-height: 47px;
      @include font-size(5xl);
      @include font-weight(bold);
      color: color(eden-neutral-1);
      span {
        color: color(eden-green-primary);
        box-shadow: inset 0 -18px 0 #c9f8de;
      }
    }
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap * 8 $gap * 2;
    padding-bottom: $gap * 8.5;
    &-img {
      height: 340px;
      width: 270px;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    figcaption {
      margin-top: $gap + 6;
      p {
        text-align: center;
        line-height: 32px;
        @include font-size(xl);
        color: color(eden-neutral-1);
        &:nth-child(2) {
          margin-top: $gap - 2;
          color: color(eden-neutral-3);
          @include font-size(base);
        }
      }
    }
  }
  @include respond(md) {
    padding-bottom: $gap * 8;
    width: 90%;
    &__title {
      margin-bottom: $gap * 4;
      h3 {
        text-align: center;
        line-height: 36px;
        @include font-size(3xl);
      }
    }
    &__gallery {
      grid-template-columns: repeat(2, 1fr);
      gap: $gap * 6.4 $gap;
      padding-bottom: 0;

      &-img {
        height: 195px;
        width: 155px;
      }
      figcaption {
        margin-top: $gap + 2;
        p {
          line-height: 24px;
          @include font-size(base);
          &:nth-child(2) {
            margin-top: $gap - 4;
            color: color(eden-neutral-3);
            @include font-size(sm);
            line-height: 21px;
          }
        }
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.opening {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 6 0 $gap * 17 0;
  &__title {
    color: color(eden-neutral-1);
    margin-bottom: $gap * 4.8;
    h3 {
      margin-bottom: $gap + 2;
      line-height: 47px;
      @include font-size(5xl);
      @include font-weight(bold);
    }
    p {
      line-height: 29px;
      @include font-size(lg);
      @include font-weight(light);
      width: 38%;
    }
  }
  &__role {
    p {
      color: color(eden-neutral-1);
      line-height: 29px;
      @include font-size(lg);
    }
  }
  @include respond(md) {
    padding: $gap * 8 0 $gap * 17 0;
    &__title {
      h3 {
        text-align: center;
        margin-bottom: $gap * 2.3;
        line-height: 36px;
        @include font-size(3xl);
      }
      p {
        text-align: center;
        line-height: 24px;
        @include font-size(base);
        width: 100%;
      }
    }
    &__role {
      p {
        line-height: 24px;
        @include font-size(base);
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
