@import '../../style.scss';

.container {
  &--hero {
    width: 100%;
    background-color: color(eden-green-senary);
    background-image: url('~@/assets/images/blog-bg1.svg'),
      url('~@/assets/images/blog-bg2.svg'), url('~@/assets/images/blog-bg3.svg');
    background-position: top 70% left 15%, top 40% right 10%,
      bottom 10% right 25%;
    background-repeat: no-repeat;
    @include respond(md) {
      background-image: none;
    }
  }
  &--nav {
    width: 100%;
    background-color: color(eden-neutral-7);
    box-shadow: inset 0px -1px 0px #e4e8e6;
  }
  &--search {
    width: 100%;
    background-color: color(eden-neutral-7);
  }
  &--posts {
    width: 100%;
    background-color: color(eden-neutral-7);
  }
  &--result {
    width: 100%;
    background-color: color(eden-neutral-7);
  }
  &--subscribe {
    width: 100%;
    background-color: color(eden-neutral-7);
    background-image: url('~@/assets/images/blog-bg5.svg');
    background-position: top 38% right 31%;
    background-repeat: no-repeat;
    @include respond(md) {
      background-position: top 11% center;
    }
  }
}

.hero {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 18 0 $gap * 9 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: color(eden-neutral-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      line-height: 62px;
      @include font-size(7xl);
      @include font-weight(bold);
      margin-bottom: $gap - 2;
    }
    p {
      margin-bottom: $gap * 4.8;
      line-height: 29px;
      @include font-size(lg);
      color: color(eden-neutral-2);
    }
  }

  &__social {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      color: red;
    }
  }

  @include respond(md) {
    width: 100%;
    padding: $gap * 18 0 $gap * 7 0;
    &__title {
      h1 {
        line-height: 47px;
        @include font-size(5xl);
      }
      p {
        line-height: 24px;
        @include font-size(base);
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.nav {
  margin: 0 auto;
  width: 83%;
  display: flex;
  &__item {
    padding: $gap * 2 0;
    margin-right: $gap * 5.6;
    line-height: 24px;
    color: color(eden-neutral-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      cursor: pointer;
    }
    .active {
      color: color(eden-neutral-1);
    }
  }
  &__search {
    margin-left: auto;
    align-self: flex-end;
    padding: $gap * 2;
    border-left: 1px solid #e4e8e6;
    display: flex;
    align-items: center;
    input[type='search'] {
      color: color(eden-neutral-2);
      line-height: 24px;
      border: none;
      outline: none;
      @include font-family(cerebri);
      @include font-size(base);
      margin-left: $gap * 2;

      &::placeholder {
        color: color(eden-neutral-2);
      }
    }
  }
  &__search-full {
    border: 1px solid #e4e8e6;
    border-radius: 8px;
    margin-top: $gap * 8;
    width: 100%;
    input[type='search'] {
      width: 100%;
    }
  }
  @include respond(md) {
    width: 100%;
    justify-content: center;
    &__item {
      padding: $gap * 2 0;
      margin-right: $gap * 2.4;
      line-height: 21px;
      @include font-size(sm);
    }
    &__search {
      display: none;
      // input[type='search'] {
      //   @include font-size(sm);
      //   &::placeholder {
      //     color: color(eden-neutral-2);
      //   }
      // }
    }
    &__search-full {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      display: block;
      padding: $gap + 4;

      input[type='search'] {
        // margin-left: $gap * 5;
        width: fit-content;
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.posts {
  margin: 0 auto;
  width: 83%;
  padding-top: $gap * 6.4;

  &__other {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap * 4;
  }

  &__upper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap * 4;
  }
  &__lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap * 4;
    margin-top: $gap * 8;
    margin-bottom: $gap * 20;
  }
  &__item {
    height: 480px;
    &-img {
      width: 100%;
      height: 45%;
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
    }
    &-details {
      height: 55%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-radius: 0px 0px 8px 8px;
      color: color(eden-neutral-1);
      padding: $gap * 2 0;
      h5 {
        line-height: 26px;
        @include font-size(xl);
        @include font-weight(bold);
      }
      p {
        padding-top: $gap + 2;
        padding-bottom: $gap + 6;
        line-height: 21px;
        @include font-size(sm);
      }
    }

    &-date {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      line-height: 18px;
      @include font-size(xs);
      color: color(eden-neutral-2);
      margin-bottom: $gap * 2.4;
      .dot {
        padding: 0 8px;
      }
    }
    &-author {
      margin-top: auto;
      display: flex;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: $gap + 2;
      }
      p {
        padding: 0;
        line-height: 21px;
        @include font-size(sm);
      }
    }
  }

  &__featured {
    grid-column: 1/3;

    &-title {
      line-height: 31px;
      @include font-size(2xl);
      @include font-weight(bold);
      color: color(eden-neutral-1);
      margin-bottom: $gap * 3.2;
    }
    &-details {
      height: unset;
      background: #fafbfe;
      padding: $gap * 2;
      border-radius: 0px 0px 8px 8px;
      color: color(eden-neutral-1);
      h5 {
        line-height: 26px;
        @include font-size(xl);
        @include font-weight(bold);
      }
      p {
        padding-top: $gap + 2;
        padding-bottom: $gap + 6;
        line-height: 21px;
        @include font-size(sm);
      }
    }
    &-img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
    }
  }
  &__recommended {
    margin-left: $gap * 6;
  }

  &__latest {
    grid-column: 1/3;
    &-title {
      line-height: 31px;
      @include font-size(2xl);
      @include font-weight(bold);
      color: color(eden-neutral-1);
      margin-bottom: -8px;
    }
  }
  &__popular {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-top: -$gap * 6;
    margin-left: $gap * 6;
  }

  &__side {
    &-title {
      line-height: 23px;
      @include font-size(lg);
      @include font-weight(bold);
      color: color(eden-neutral-1);
      margin-bottom: $gap * 3.2;
    }
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: $gap * 4;
      img {
        width: 78px;
        height: 78px;
        object-fit: cover;
        margin-right: $gap + 2;
        border-radius: 8px;
      }
      .title {
        line-height: 24px;
        @include font-size(base);
        color: color(eden-neutral-1);
        margin-bottom: $gap + 2;
      }
      .date {
        @include font-size(xs);
        text-transform: uppercase;
        color: color(eden-neutral-3);
      }
    }
  }
  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    p {
      color: color(eden-neutral-1);
    }
  }

  @include respond(md) {
    width: 90%;
    margin: 0 auto;
    padding-top: $gap * 4.8;

    &__other {
      display: flex;
      flex-direction: column;
    }

    &__upper {
      display: flex;
      flex-direction: column;
    }
    &__lower {
      display: flex;
      flex-direction: column;
      margin-top: $gap * 3;
    }
    &__item {
      &-img {
        height: 190px;
      }
      &-details {
        height: unset;
        padding: $gap * 2 0;
        h5 {
          line-height: 23px;
          @include font-size(lg);
        }
      }
      &-date {
        margin-bottom: $gap * 2.4;
      }
      &-author {
        margin-top: 0;
      }
    }

    &__featured {
      &-title {
        line-height: 26px;
        @include font-size(xl);
      }
      &-details {
        padding: $gap * 2 $gap + 6;
      }
      &-img {
        height: 190px;
      }
    }

    &__recommended {
      margin-top: $gap * 5;
      margin-left: 0px;
    }

    &__latest {
      &-title {
        line-height: 26px;
        @include font-size(xl);
        margin-bottom: -8px;
      }
    }
    &__popular {
      order: -1;
      margin-top: $gap * 3;
      margin-left: 0;
    }

    &__side {
      &-title {
        line-height: 23px;
        @include font-size(lg);
        @include font-weight(bold);
        color: color(eden-neutral-1);
        margin-bottom: $gap * 3.2;
      }
      &-item {
        display: flex;
        align-items: center;
        margin-bottom: $gap * 4;
        img {
          width: 78px;
          height: 78px;
          object-fit: cover;
          margin-right: $gap + 2;
          border-radius: 8px;
        }
        .title {
          line-height: 24px;
          @include font-size(base);
          color: color(eden-neutral-1);
          margin-bottom: $gap + 2;
        }
        .date {
          @include font-size(xs);
          text-transform: uppercase;
          color: color(eden-neutral-3);
        }
      }
    }
  }

  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.subscribe {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 18 0 $gap * 30 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: color(eden-neutral-1);
  &__inline {
    grid-column: 1/4;
    grid-row: 3;
    padding: $gap * 8 0;
    background-image: url('~@/assets/images/blog-bg5.svg');
    background-position: top 45% right 23%;
    background-repeat: no-repeat;
    @include respond(md) {
      background-position: top 11% center;
    }
  }
  h3 {
    line-height: 31px;
    @include font-size(2xl);
    @include font-weight(bold);
  }
  p {
    margin: $gap + 2 0 $gap * 4.4 0;
    line-height: 26px;
    @include font-size(base);
    width: 38%;
    text-align: center;
  }
  .form {
    display: flex;
    &__input {
      input[type='email'] {
        border: 1px solid #c9d0cd;
        border-radius: 4px;
        background-color: color(eden-neutral-7);
        color: color(eden-neutral-1);
        padding: $gap + 4 $gap + 6;
        @include font-size(lg);
        @include font-family(cerebri);
        width: 350px;
        height: 48px;
        &::placeholder {
          color: color(eden-neutral-4);
          @include font-weight(light);
        }
        &:focus {
          outline: none;
          border: 1px solid #21312a;
        }
        &.has-error {
          border: 1px solid color(eden-red);
        }
      }
    }
    &__btn {
      margin-left: $gap + 2;
      align-self: center;
      line-height: 23px;
      @include font-size(lg);
      background-color: color(eden-green-primary);
      color: color(eden-neutral-7);
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      padding: $gap * 1.2 $gap * 2.2;
      &:hover {
        box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
        background-color: color(eden-green-250);
        color: color(eden-neutral-7);
      }
      &:active {
        background-image: radial-gradient(
          circle at center right,
          rgba(0, 141, 64, 0.1) 50%,
          #008d40 50%
        );
      }
    }
  }

  @include respond(md) {
    width: 100%;
    padding: $gap * 18 0 $gap * 18 0;
    h3 {
      line-height: 31px;
      @include font-size(2xl);
    }
    p {
      margin: $gap + 2 0 $gap * 4 0;
      line-height: 24px;
      @include font-size(base);
      width: 80%;
      text-align: center;
    }
    .form {
      width: 80%;
      flex-direction: column;
      &__input {
        input[type='email'] {
          width: 100%;
        }
      }
      &__btn {
        margin-top: $gap + 6;
        width: 100%;
        margin-left: 0px;
      }
    }
  }

  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.result {
  margin: 0 auto;
  width: 83%;
  padding-top: $gap * 6.4;
  color: color(eden-neutral-1);
  &__title {
    @include font-size(2xl);
    line-height: 31px;
  }
  &__empty {
    @include font-size(lg);
    line-height: 36px;
    margin-top: $gap * 3.2;
    margin-bottom: $gap * 14;
    span {
      cursor: pointer;
      color: color(eden-green-primary);
    }
  }
  &__nav {
    display: flex;
    // align-items: center;
    margin-top: $gap * 4;
    border-bottom: 1px solid #e4e8e6;

    &-filter {
      color: color(eden-neutral-2);
      margin-right: $gap * 3.2;
      margin-top: $gap + 8;
    }
    &-item {
      padding: $gap * 2 0;
      margin-right: $gap * 5.6;
      line-height: 24px;
      color: color(eden-neutral-3);
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        cursor: pointer;
      }
      .active {
        color: color(eden-neutral-1);
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap * 4;
    margin-top: $gap * 4.8;
    &-title {
      grid-column: 1/4;
      @include font-size(4xl);
      line-height: 42px;
    }
    &-empty {
      grid-column: 1/4;
    }
  }
  &__item {
    height: 480px;
    &-img {
      width: 100%;
      height: 45%;
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
    }
    &-details {
      height: 55%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-radius: 0px 0px 8px 8px;
      color: color(eden-neutral-1);
      padding: $gap * 2 0;
      h5 {
        line-height: 26px;
        @include font-size(xl);
        @include font-weight(bold);
      }
      p {
        padding-top: $gap + 2;
        padding-bottom: $gap + 6;
        line-height: 21px;
        @include font-size(sm);
      }
    }

    &-date {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      line-height: 18px;
      @include font-size(xs);
      color: color(eden-neutral-2);
      margin-bottom: $gap * 2.4;
      .dot {
        padding: 0 8px;
      }
    }
    &-author {
      margin-top: auto;
      display: flex;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: $gap + 2;
      }
      p {
        padding: 0;
        line-height: 21px;
        @include font-size(sm);
      }
    }
  }
  @include respond(md) {
    width: 90%;
    margin: 0 auto;
    &__content {
      display: flex;
      flex-direction: column;
      margin-top: $gap * 4.8;
      &-title {
        @include font-size(2xl);
        line-height: 32px;
      }
    }
    &__item {
      &-img {
        height: 190px;
      }
      &-details {
        height: unset;
        padding: $gap * 2 0;
        h5 {
          line-height: 23px;
          @include font-size(lg);
        }
      }
      &-date {
        margin-bottom: $gap * 2.4;
      }
      &-author {
        margin-top: 0;
      }
    }
    &__empty {
      @include font-size(sm);
      line-height: 26px;
    }
    &__nav {
      flex-wrap: wrap;
      &-filter {
        flex-basis: 100%;
      }
      &-item {
        padding: $gap * 2 0;
        margin-right: $gap * 2;
        line-height: 21px;
        @include font-size(sm);
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
