@import '../../style.scss';

.container {
  width: 100%;

  &--checkout {
    margin-bottom: $gap * 15;
    padding-top: $gap * 10;
  }
}

.checkout {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 5.3 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__form {
    color: color(eden-neutral-1);
    flex: 0 0 35%;

    &-nav {
      padding: $gap * 3.2 0 $gap + 2 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid #e4e8e6;
      width: 100%;

      li {
        list-style: none;
        color: color(eden-neutral-4);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &.active {
          color: color(eden-neutral-1);
          span {
            padding-bottom: $gap - 4;
          }
        }
        &:hover {
          color: color(eden-green-primary);
        }
      }
    }
    .slide-fade-enter-active {
      transition: all 0.5s ease-in;
    }
    .slide-fade-leave-active {
      opacity: 0;
    }
    .slide-fade-enter,
    .slide-fade-leave-to {
      transform: translateY(10px);
      opacity: 0;
    }

    &__title {
      margin: $gap * 6 0 $gap * 4;

      h5 {
        @include font-size(xl);
        margin-bottom: $gap * 1.5;
        color: color(eden-neutral-1);
      }

      p {
        @include font-size(base);
        @include font-weight(light);

        color: color(eden-neutral-1);
      }
    }

    .form {
      display: flex;
      flex-direction: column;

      &__group {
        display: flex;
        align-items: center;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: $gap * 3;
        }

        &-input {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;

          label {
            @include font-size(sm);
            line-height: 19px;
            @include font-weight(light);
            color: color(eden-neutral-4);
            margin-bottom: 4px;
          }
          input,
          textarea {
            height: 56px;
            padding: $gap + 4 $gap + 6;
            @include font-family(cerebri);
            border: 1px solid #e4e8e6;
            @include font-size(lg);
            border-radius: 4px;
            background-color: color(eden-neutral-7);
            color: color(eden-neutral-1);

            &::placeholder {
              color: color(eden-neutral-4);
              @include font-weight(light);
            }
            &:focus {
              outline: none;
              border: 1px solid #21312a;
            }
            &.has-error {
              border-color: color(eden-red);
            }
          }
          textarea {
            height: 140px;
          }
          span {
            position: absolute;
            bottom: -20px;
            left: 0;
            color: color(eden-red);
            font-size: 12px;
          }

          &:nth-child(2) {
            margin-left: $gap * 2;
          }
        }

        &-select {
          border: 1px solid #e4e8e6;
          @include font-size(lg);
          width: 100%;
          border-radius: 0 4px 4px 4px;
          @include font-family(cerebri);
          background-color: color(eden-neutral-7);
          color: color(eden-neutral-1);
          height: 56px;
          padding: $gap + 4 $gap + 6;

          &:focus,
          &:active,
          &:hover {
            border: 1px solid #e4e8e6;
          }
          .selector {
            position: relative;
            .arrow {
              position: absolute;
              right: 0;
              top: 30%;
              cursor: pointer;
              transform: rotateZ(0deg) translateY(0px);
              transition-duration: 0.5s;
              transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
            }
            .expanded {
              transform: rotateZ(180deg) translateY(2px);
            }
            .label {
              display: block;
              @include font-size(base);
              .placeholder {
                // color: rgba(147, 162, 155, 0.5);
                color: color(eden-neutral-4);
                @include font-size(lg);
                @include font-weight(light);
              }
            }
          }
          ul {
            width: 100%;
            list-style-type: none;
            @include font-size(base);
            color: color(eden-neutral-2);
            border: 0.5px solid #e4e8e6;
            position: absolute;
            left: -15px;
            top: 48px;
            z-index: 1;
            background: color(eden-neutral-7);
            border-radius: 4px;
            height: 195px;
            overflow: auto;
            box-shadow: 0px 4px 8px rgba(121, 139, 131, 0.161);
          }
          li {
            cursor: pointer;
            padding: $gap + 1 $gap + 2;
            color: color(eden-neutral-2);
            @include font-size(base);
            &:hover {
              background: rgba(228, 232, 230, 0.4);
            }
          }
          .current {
            background: rgba(228, 232, 230, 0.4);
          }
          .hidden {
            visibility: hidden;
          }
          .visible {
            visibility: visible;
          }
        }

        &-radio {
          height: 100%;
          width: 100%;
          position: relative;

          &:not(:last-child) {
            margin-right: 20px;
          }

          label {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: transparent;
            border: 1px solid #e4e8e6;
            border-radius: 4px;
            cursor: pointer;
            line-height: 1;
            transition: all 0.25s ease-out;

            span {
              height: 18px;
              width: 18px;
              border: 1px solid #93a29b;
              border-radius: 100px;
              margin-right: 5px;
              transition: border 0.25s ease-in;
            }

            img {
              height: 24px;
            }
          }

          input {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            padding: 0;
            margin: 0;
            cursor: pointer;

            &:checked + label {
              background: #deffef;
              border-color: #03a84e;
              transition: all 0.25s ease-in;

              span {
                border: 5px solid color(eden-green-primary);
                transition: border 0.25s ease-in;
              }
            }
          }
        }
      }

      &__alert {
        text-align: center;
        margin-top: $gap * 3;
        border-radius: 4px;
        padding: $gap * 2;
        background: rgba(228, 232, 230, 0.3);

        p {
          color: color(eden-neutral-2);
          width: 90%;
          line-height: 1.8;
          margin: auto;
        }
      }

      .btn--submit {
        line-height: 23px;
        @include font-size(lg);
        background-color: color(eden-green-primary);
        color: color(eden-neutral-7);
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        padding: $gap * 1.6 $gap * 2.9;
        margin-top: $gap * 2.4;
        &:hover {
          box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
          background-color: color(eden-green-250);
          color: color(eden-neutral-7);
        }
        &:active {
          background-image: radial-gradient(
            circle at center right,
            rgba(0, 141, 64, 0.1) 50%,
            #008d40 50%
          );
        }
        &:disabled {
          background: #57645e !important;
          border-color: #57645e;
          opacity: 0.44;
          cursor: not-allowed;
          pointer-events: all !important;
        }
      }
    }

    &-successful {
      padding: $gap * 3;
      background: rgba(3, 168, 78, 0.04);
      border: 1px solid #03a84e;
      border-radius: 8px;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $gap * 2;

        > div {
          display: flex;
          align-items: center;

          p {
            @include font-size(xl);
            font-weight: 600;
            margin-left: $gap;
          }
        }

        > svg {
          cursor: pointer;
        }
      }

      &-content {
        padding: 0 $gap * 2.5;

        p {
          @include font-size(base);
          margin-bottom: $gap * 2;
          line-height: 1.8;
        }

        .btn--proceed {
          line-height: 23px;
          @include font-size(lg);
          background-color: transparent;
          color: color(eden-neutral-3);
          border-radius: 4px;
          border: 1px solid color(eden-neutral-6);
          transition: all 0.4s ease-in-out;
          padding: $gap * 1.6 $gap * 2.9;
        }
      }
    }
  }

  &__summary {
    position: relative;
    flex: 0 0 40%;
    border: 1px solid color(eden-neutral-6);
    border-radius: 8px;
    color: color(eden-neutral-1);
    &-title {
      padding: $gap * 2;
      border-bottom: 1px solid color(eden-neutral-6);

      h5 {
        @include font-size(xl);
        @include font-weight(medium);
        @include font-family(cerebri);
      }
    }

    &-items {
      padding: $gap * 2;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $gap * 2 0;
        border-bottom: 1px solid rgba(228, 232, 230, 0.3);

        > div {
          display: flex;
          align-items: center;

          img {
            height: 64px;
            width: 64px;
            border-radius: 8px;
            object-fit: cover;
            margin-right: $gap * 1.5;
          }
          div {
            p {
              @include font-size(base);
              color: color(eden-neutral-1);
              margin-bottom: $gap * 1.5;
              @include font-weight(regular);
            }
            span {
              @include font-size(sm);
              cursor: pointer;
              color: color(eden-neutral-2);
            }
          }
        }
        p {
          @include font-size(base);
          color: color(eden-neutral-1);
          margin-bottom: $gap * 2;
          @include font-weight(medium);
        }
      }
    }

    &-footer {
      border-top: 1px solid rgba(228, 232, 230, 0.7);
      width: 100%;
      background: #f7f8f8;
      padding: $gap * 3;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        @include font-size(lg);
        &:last-child {
          @include font-weight(medium);
        }
      }
    }
  }

  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }

  @include respond(xl) {
    &__form {
      .form {
        &__group {
          &:not(.radios) {
            flex-direction: column;
            .form__group-input {
              margin-left: 0 !important;

              &:nth-child(2) {
                margin-top: $gap * 2.5;
              }
            }
          }
        }
      }
    }

    &__summary {
      flex: 0 0 55%;
    }
  }

  @include respond(md) {
    flex-direction: column;
    width: 80%;
    margin: auto;

    &__summary {
      width: 100%;
      margin-top: $gap * 8;
    }

    &__form {
      width: 100%;
      margin-top: $gap * 3;
    }
  }

  @include respond(xs) {
    width: 90%;
    padding: $gap * 2 0;

    &__summary {
      width: 100%;

      .item {
        > div {
          img {
            height: 48px;
            width: 48px;
          }

          div {
            p {
              @include font-size(base);
              margin-bottom: $gap * 0.5;
              width: 120px;
              word-break: break-word;
            }

            span {
              @include font-size(xs);
            }
          }
        }
        p {
          @include font-size(sm);
        }
      }
    }

    &__form {
      width: 100%;
      margin-top: $gap * 3;
    }
  }
}
