@import '../../style.scss';

.container {
  width: 100%;
  &--hero {
    background-color: color(eden-purple-50);
  }

  &--description {
    background-color: #f6fffa;
    @include respond(md) {
      background-image: url('https://res.cloudinary.com/eden-life-inc/image/upload/v1611834564/eden-website-v2/bg-8_d0hgzi.svg');
      background-repeat: no-repeat;
      background-position: top 22% right 25%;
      background-size: 30%;
    }
  }

  &--team {
    background-color: #fffcfa;
  }
  &--services {
    background-color: color(eden-neutral-7);
  }

  &--customers {
    background-color: color(eden-purple-50);
    background-image: url('https://res.cloudinary.com/eden-life-inc/image/upload/v1611320977/eden-website-v2/bg3_hvc5h7.svg'),
      url('https://res.cloudinary.com/eden-life-inc/image/upload/v1611320978/eden-website-v2/bg4_c3xipp.svg');
    background-position: center left, bottom 10% right 5%;
    background-repeat: no-repeat;
  }
}

.hero {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 20 0 $gap * 12.8 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    color: color(eden-neutral-1);
    flex: 0 0 60%;
    h1 {
      line-height: 62px;
      @include font-size(7xl);
      @include font-weight(bold);
      &.mobile {
        display: none;
      }
      span {
        color: color(eden-purple-250);
        box-shadow: inset 0 -23px 0 #dae0ff;
      }
    }
    p {
      margin: $gap * 3.2 0 $gap * 4 0;
      line-height: 29px;
      @include font-size(lg);
      width: 80%;
    }
  }
  &__button {
    display: flex;
    gap: $gap * 4.4;
    &-solid {
      line-height: 23px;
      @include font-size(lg);
      background-color: color(eden-green-primary);
      color: color(eden-neutral-7);
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      padding: $gap * 2 $gap * 3.2;

      &:hover {
        box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
        background-color: color(eden-green-250);
        color: color(eden-neutral-7);
      }
      &:active {
        background-image: radial-gradient(
          circle at center right,
          rgba(0, 141, 64, 0.1) 50%,
          #008d40 50%
        );
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: $gap + 2;
      line-height: 29px;
      @include font-size(lg);
      color: color(eden-green-primary);
      &:hover {
        color: color(eden-green-250);
      }
    }
  }
  &__img {
    position: relative;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include respond(md) {
    flex-direction: column;
    padding: $gap * 16.8 0 $gap * 10 0;
    width: 100%;
    &__title {
      width: 100%;
      text-align: center;
      h1 {
        display: none;
        line-height: 40px;
        @include font-size(5xl);
        width: 90%;
        margin: 0 auto;
        &.mobile {
          display: block;
        }
      }
      p {
        line-height: 24px;
        @include font-size(base);
        margin: $gap * 2.4 auto $gap * 5.5 auto;
        width: 75%;
      }
    }
    &__button {
      width: 50%;
      flex-direction: column;
      margin: 0 auto;
      &-link {
        margin-top: $gap * 3.2;
        align-self: center;
      }
    }
    &__img {
      display: none;
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.team {
  padding: $gap * 10 0 $gap * 8 0;
  &__title {
    h3 {
      @include font-size(5xl);
      line-height: 47px;
      @include font-weight(bold);
      margin-bottom: $gap * 3.2;
      text-align: center;
    }
    p {
      @include font-size(lg);
      line-height: 29px;
      @include font-weight(light);
      margin-bottom: $gap * 8;
      width: 40%;
    }
  }
  &__slider {
    margin-top: $gap * 9.3;
    &-option {
      overflow: hidden;
      position: relative;
      ul {
        display: flex;
        list-style: none;
        width: calc(242px * 14);
        .slide {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          animation: translateinfinite 30s linear infinite;
        }
      }
    }
  }
  @keyframes translateinfinite {
    0% { 
      transform: translateX(0); 
    }
    100% { 
      transform: translateX(calc(-250px * 7))
    }
  }
  &__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 83%;
    padding-top: $gap * 12.9;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 $gap * 2;
      &.efficiency {
        h3 {
          background-color: color(eden-red-50);
        }
      }
      &.experience {
        h3 {
          background-color: color(eden-orange-100);
        }
      }
      &.sport {
        h3 {
          background-color: rgba(3, 168, 78, 0.12);
        }
      }
      h3 {
        border-radius: 16px;
        padding: $gap - 4 $gap + 2;
        line-height: 52px;
        @include font-size(6xl);
      }
      h5 {
        text-align: center;
        margin: $gap * 3.2 0 $gap + 2;
        @include font-size(xl);
        line-height: 26px;
        @include font-weight(bold);
        color: color(eden-neutral-1);
      }
      p {
        line-height: 29px;
        @include font-size(lg);
        color: color(eden-neutral-2);
        @include font-weight(light);
        margin-bottom: $gap * 2.8;
        text-align: center;
      }
    }
  }
  @include respond(md) {
    width: 100%;
    padding: $gap * 6.4 0 $gap * 8 0;
    &__card {
      display: block
    }
    &__title {
      text-align: center;
      h3 {
        @include font-size(lg);
        line-height: 28px;
      }
      p {
        @include font-size(base);
        line-height: 24px;
        margin-bottom: $gap * 8;
        width: 100%;
      }
    }
    &__card {
      flex-direction: column;
      gap: $gap * 4.8;
      &-item {
        padding: 0 $gap;
        align-items: center;
        margin-top: 50px;
        h3 {
          align-self: center;
        }

        p {
          text-align: center;
          margin-bottom: 0;
          @include font-size(base);
          line-height: 24px;
        }
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.description {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 6 0 0 0;
  &__title {
    color: color(eden-neutral-1);
    margin-bottom: $gap * 6;
    h3 {
      @include font-size(6xl);
      line-height: 55px;
      @include font-weight(bold);
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider {
    flex: 0 0 50%;
    display: flex;
    &-timeline {
      margin-top: $gap + 5;
      .vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .two {
        fill: none;
        stroke: #61db98;
        stroke-width: 8;
        stroke-dasharray: 390;
        stroke-dashoffset: 390;
        animation: dash 3s linear forwards;
      }
      .four {
        fill: none;
        stroke: #61db98;
        stroke-width: 11;
        stroke-dasharray: 390;
        stroke-dashoffset: 390;
        animation: dash 3s linear forwards;
        animation-delay: 3s;
      }
      .six {
        fill: none;
        stroke: #61db98;
        stroke-width: 11;
        stroke-dasharray: 390;
        stroke-dashoffset: 390;
        animation: dash 3s linear forwards;
        animation-delay: 6s;
      }
      .eight {
        fill: none;
        stroke: #61db98;
        stroke-width: 11;
        stroke-dasharray: 390;
        stroke-dashoffset: 390;
        animation: dash 3s linear forwards;
        animation-delay: 9s;
      }

      .ten {
        fill: none;
        stroke: #61db98;
        stroke-width: 11;
        stroke-dasharray: 390;
        stroke-dashoffset: 390;
        animation: dash 3s linear forwards;
        animation-delay: 9s;
      }

      @keyframes dash {
        to {
          stroke-dashoffset: 0;
          fill: color(eden-green-primary);
        }
      }

      .three {
        fill: color(eden-neutral-6);
        animation: circleScale 1s linear forwards;
        animation-delay: 1.5s;
      }
      .five {
        fill: color(eden-neutral-6);
        animation: circleScale 1s linear forwards;
        animation-delay: 4.5s;
      }
      .seven {
        fill: color(eden-neutral-6);
        animation: circleScale 1s linear forwards;
        animation-delay: 7.5s;
      }
      .nine {
        fill: color(eden-neutral-6);
        animation: circleScale 1s linear forwards;
        animation-delay: 10.5s;
      }
      .eleven {
        fill: color(eden-neutral-6);
        animation: circleScale 1s linear forwards;
        animation-delay: 13.5s;
      }
      @keyframes circleScale {
        to {
          fill: color(eden-green-primary);
        }
      }

      //
      .horizontal {
        display: none;
      }
    }
    &-text {
      margin-left: $gap * 3.5;
      color: color(eden-neutral-1);
      padding-bottom: $gap * 9.8;
      h5 {
        line-height: 31px;
        @include font-size(2xl);
        @include font-weight(bold);
        margin-bottom: $gap * 6.4;
      }

      .one {
        color: color(eden-neutral-1);
      }
      .two {
        color: color(eden-neutral-5);
        animation: move 2s linear forwards;
        animation-delay: 2s;
      }
      .three {
        color: color(eden-neutral-5);
        animation: move 2s linear forwards;
        animation-delay: 4s;
      }
      .four {
        color: color(eden-neutral-5);
        animation: move 2s linear forwards;
        animation-delay: 7s;
      }
      .five {
        color: color(eden-neutral-5);
        animation: move 2s linear forwards;
        animation-delay: 10s;
      }
      .six {
        color: color(eden-neutral-5);
        animation: move 2s linear forwards;
        animation-delay: 13s;
      }
      @keyframes move {
        to {
          color: color(eden-neutral-1);
        }
      }
    }
    .btn {
      line-height: 23px;
      @include font-size(lg);
      background-color: color(eden-green-primary);
      color: color(eden-neutral-7);
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      padding: $gap + 6 $gap * 3.2;
      &--mobile {
        display: none;
      }
      &:hover {
        box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
        background-color: color(eden-green-250);
        color: color(eden-neutral-7);
      }
      &:active {
        background-image: radial-gradient(
          circle at center right,
          rgba(0, 141, 64, 0.1) 50%,
          #008d40 50%
        );
      }
    }
  }
  &__video {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
  }

  @include respond(md) {
    width: 100%;
    padding: $gap * 6.4 0;

    &__title {
      text-align: center;
      margin-bottom: $gap * 5.2;
      h3 {
        @include font-size(3xl);
        line-height: 36px;
      }
    }
    &__body {
      flex-direction: column;
    }
    &__slider {
      flex-direction: column;
      width: 100%;
      align-items: center;
      &-timeline {
        margin-top: $gap * 5;
        width: 85%;
        .vertical {
          display: none;
        }
        .horizontal {
          display: flex;
          align-items: center;
          justify-content: center;
          &--b {
            fill: none;
            stroke: #61db98;
            stroke-width: 8;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            animation: dash 3s linear forwards;
          }
          &--d {
            fill: none;
            stroke: #61db98;
            stroke-width: 11;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            animation: dash 3s linear forwards;
            animation-delay: 3s;
          }
          &--f {
            fill: none;
            stroke: #61db98;
            stroke-width: 11;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            animation: dash 3s linear forwards;
            animation-delay: 6s;
          }
          &--h {
            fill: none;
            stroke: #61db98;
            stroke-width: 11;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            animation: dash 3s linear forwards;
            animation-delay: 9s;
          }
          &--j {
            fill: none;
            stroke: #61db98;
            stroke-width: 11;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            animation: dash 3s linear forwards;
            animation-delay: 12s;
          }

          @keyframes dash {
            to {
              stroke-dashoffset: 0;
              fill: color(eden-green-primary);
            }
          }

          &--c {
            fill: color(eden-neutral-6);
            animation: circleScale 1s linear forwards;
            animation-delay: 1.5s;
          }
          &--e {
            fill: color(eden-neutral-6);
            animation: circleScale 1s linear forwards;
            animation-delay: 4.5s;
          }
          &--g {
            fill: color(eden-neutral-6);
            animation: circleScale 1s linear forwards;
            animation-delay: 7.5s;
          }
          &--i {
            fill: color(eden-neutral-6);
            animation: circleScale 1s linear forwards;
            animation-delay: 10.5s;
          }
          @keyframes circleScale {
            to {
              fill: color(eden-green-primary);
            }
          }
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }
      &-text {
        margin-left: 0;
        margin-top: $gap * 3.5;
        width: 90%;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        gap: $gap * 4.8;
        margin-right: $gap * 4;
        padding-bottom: 0;
        h5 {
          text-align: center;
          line-height: 26px;
          @include font-size(xl);
          margin-bottom: $gap + 6;
        }
        .one {
          margin-left: $gap * 4;
        }

        > * {
          flex: 0 0 80%;
        }
      }
      .btn {
        display: none;
        &--mobile {
          align-self: center;
          display: block;
          line-height: 23px;
          @include font-size(lg);
          background-color: color(eden-green-primary);
          color: color(eden-neutral-7);
          border-radius: 4px;
          transition: all 0.4s ease-in-out;
          padding: $gap + 6 $gap * 3.2;
        }
      }
    }
    &__video {
    margin-top: $gap * 6;
      &-item {
        width: 166px;
        height: 399px;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
  padding: $gap * 10 0;
  gap: $gap * 12;

  &__title {
    flex: 0 0 25%;
    color: color(eden-neutral-1);
    margin-top: $gap * 5.2;
    h3 {
      @include font-size(5xl);
      line-height: 47px;
      @include font-weight(bold);
      margin-bottom: $gap + 2;
    }
    p {
      line-height: 29px;
      @include font-size(lg);
      @include font-weight(light);
    }
  }

  &__type {
    flex: 0 0 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap * 2.4;
    color: color(eden-neutral-1);
    &-item {
      border-radius: 8px;
      padding: $gap * 2.4 0 0 $gap * 3.2;
      display: flex;
      flex-direction: column;

      h3 {
        @include font-size(5xl);
        line-height: 47px;
        @include font-weight(bold);
      }
      h5 {
        line-height: 31px;
        @include font-size(2xl);
        @include font-weight(bold);
        margin: $gap - 2 0 $gap + 2 0;
      }
      p {
        line-height: 24px;
        @include font-size(base);
        margin: 0 $gap * 3.2 $gap * 2 0;
      }
      img {
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 100%;
        height: auto;
      }
    }
    &-bg {
      margin-right: $gap - 2;
      margin-bottom: $gap - 2;
      align-self: flex-end;
      transition: all 0.4s ease-in-out;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      width: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      height: 112px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-food {
      background-color: color(eden-green-quinary);
      .services__type-bg {
        box-shadow: 8px 8px 0px #a2f0c5;
      }
    }
    &-laundry {
      background-color: color(eden-purple-100);
      .services__type-bg {
        box-shadow: 8px 8px 0px #a0b0fe;
      }
    }
    &-cleaning {
      background-color: color(eden-orange-50);
      .services__type-bg {
        box-shadow: 8px 8px 0px #ffac76;
      }
    }
    &-gifting {
      background-color: color(eden-blue-100);
      .services__type-bg {
        box-shadow: 8px 8px 0px #7ddbf0;
      }
    }
  }

  @include respond(md) {
    flex-direction: column;
    width: 90%;
    gap: 0;

    &__title {
      margin-top: 0;
      text-align: center;
      margin-bottom: $gap * 4.8;
      h3 {
        @include font-size(3xl);
        line-height: 36px;
      }
      p {
        line-height: 24px;
        @include font-size(base);
      }
    }
    &__type {
      grid-template-columns: repeat(1, 1fr);
      gap: $gap * 4.8;
      &-item {
        padding: $gap * 2.4;

        h3 {
          @include font-size(4xl);
          line-height: 42px;
        }
        h5 {
          @include font-size(xl);
          line-height: 26px;
        }
      }
      &-bg {
        display: none;
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.customers {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 10 0 $gap * 16 0;
  display: flex;
  flex-direction: column;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $gap * 8.4;
    h3 {
      color: color(eden-neutral-1);
      @include font-size(6xl);
      line-height: 63px;
      @include font-weight(bold);
    }
    &-image {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $gap * 4 $gap * 6;
    }
  }
  &__testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: $gap * 2.4;

    .card {
      width: 384px;
      padding: $gap * 2;
      height: fit-content;
      background-color: color(eden-neutral-7);
      border: 1px solid rgba(228, 232, 230, 0.2);
      border-radius: 8px;
      &:hover {
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
      }
      &__title {
        display: flex;
        align-items: center;
        margin-bottom: $gap + 6;
        &-img {
          margin-right: $gap - 2;
          width: 68px;
          height: 68px;
          img {
            border-radius: 50%;
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
        &-name {
          margin-bottom: 4px;
          color: color(eden-neutral-1);
          @include font-size(base);
        }
        &-handle {
          line-height: 21px;
          @include font-size(sm);
          color: color(eden-green-primary);
        }
      }
      &__description {
        color: color(eden-neutral-2);
        @include font-size(sm);
        line-height: 21px;
      }

      &:nth-child(4) {
        margin-top: -$gap * 7;
      }
      &:nth-child(5) {
        margin-top: -$gap * 11;
      }
    }
  }
  .btn {
    margin-top: $gap * 4;
    line-height: 23px;
    @include font-size(lg);
    background-color: color(eden-green-primary);
    color: color(eden-neutral-7);
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    padding: $gap * 2 $gap * 3.2;
    align-self: center;
    &:hover {
      box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
      background-color: color(eden-green-250);
      color: color(eden-neutral-7);
    }
    &:active {
      background-image: radial-gradient(
        circle at center right,
        rgba(0, 141, 64, 0.1) 50%,
        #008d40 50%
      );
    }
  }
  @include respond(md) {
    padding: $gap * 6 0 $gap * 6 0;
    width: 90%;

    &__title {
      flex-direction: column;
      margin-bottom: $gap * 8;
      h3 {
        @include font-size(3xl);
        line-height: 36px;
        text-align: center;
      }
      &-image {
        margin-left: $gap * 2.4;
        gap: $gap * 2 $gap * 2;
        grid-template-columns: repeat(4, 60px);
        margin-top: $gap * 4;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &__testimonials {
      gap: $gap * 2.3 $gap + 2;
      overflow: auto;
      grid-template-columns: repeat(3, 1fr);
      .card {
        width: 307px;
        padding: $gap + 6 $gap + 9;
        &:hover {
          transform: scale(1.01);
          transition: all 0.2s ease-in;
        }
        &:nth-child(4) {
          margin-top: -$gap * 10;
        }
        &:nth-child(5) {
          margin-top: -$gap * 14;
        }
      }
    }
  }
  @media only screen and (min-width: 48em) and (max-width: 75em) {
    &__title {
      &-image {
        grid-template-columns: repeat(4, 80px);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &__testimonials {
      overflow: auto;
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
    &__testimonials {
      max-width: 1240px;
      margin: 0 auto;
    }
  }
}

.company{
  background-color: color(eden-blue-50);
  padding: $gap * 18 $gap * 32.5 ;
   &__form{
    background-color: color(eden-neutral-7);
    padding: $gap * 6.4 $gap * 10.2;
    &-title {
      text-align: center;
      h3 {
        font-size: 1.5rem;
        span {
          color: color(eden-green-primary);
        }
      }
      p {
        margin-top: $gap + 6;
        margin-bottom: $gap * 4;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      &__input {
        &:first-child {
          margin-top: 0;
        }
        display: flex;
        flex-direction: column;
        margin-top: $gap * 2.4;
        label {
          @include font-size(sm);
          line-height: 19px;
          @include font-weight(light);
          color: color(eden-neutral-4);
          margin-bottom: 4px;
          .required {
            transform: translateY(-10px);
            color: red;
          }
        }
        input,
        textarea {
          height: 56px;
          padding: $gap + 4 $gap + 6;
          @include font-family(cerebri);
          border: 1px solid #e4e8e6;
          @include font-size(lg);
          border-radius: 4px;
          background-color: color(eden-neutral-7);
          color: color(eden-neutral-1);
          &.has-error {
            border: 1px solid color(eden-red);
          }
          &::placeholder {
            color: color(eden-neutral-4);
            @include font-weight(light);
            @include font-size(base);
          }
          &:focus {
            outline: none;
            border: 1px solid #03a84e;
            background-color: color(eden-neutral-7);
          }
        }
        textarea {
          height: 140px;
        }

        .select {
          border: 1px solid #e4e8e6;
          @include font-size(lg);
          border-radius: 4px;
          @include font-family(cerebri);
          background-color: color(eden-neutral-7);
          color: color(eden-neutral-1);
          // height: 56px;
          padding: $gap + 4 $gap + 6;

          &:focus,
          &:active,
          &:hover {
            border: 1px solid #e4e8e6;
          }
          &.has-error {
            border: 1px solid color(eden-red);
          }
          .selector {
            position: relative;
            .arrow {
              position: absolute;
              right: 0;
              top: 30%;
              cursor: pointer;
              transform: rotateZ(0deg) translateY(0px);
              transition-duration: 0.5s;
              transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
            }
            .expanded {
              transform: rotateZ(180deg) translateY(2px);
            }
            ::-webkit-scrollbar {
              display: none;
            }
            .label {
              display: block;
              @include font-size(base);
              overflow: auto;
              white-space: nowrap;
              .placeholder {
                color: color(eden-neutral-4);
                @include font-size(lg);
                @include font-weight(light);
              }
              &--text {
                color: color(eden-neutral-3);
                @include font-size(sm);
                line-height: 18px;
                background: rgba(87, 100, 94, 0.1);
                border-radius: 4px;
                padding: 2px 4px;
                margin-right: 8px;
              }
            }

           
          }
          .selection {
            width: 110%;
            list-style-type: none;
            @include font-size(base);
            color: color(eden-neutral-1);
            border: 0.5px solid #e4e8e6;
            position: absolute;
            left: -15px;
            top: 48px;
            z-index: 1;
            background: color(eden-neutral-7);
            border-radius: 4px;
            box-shadow: 0px 4px 8px rgba(121, 139, 131, 0.161);

            .btn--submit {
              margin: 24px 14px;
              padding: $gap $gap + 4;
              transition: none;
            }
          }
          li {
            display: flex;
            align-items: center;
            padding: 0 $gap + 2;
            position: relative;
            width: 100%;
            height: 48px;

            label {
              color: color(eden-neutral-3);
              @include font-size(base);
              @include font-weight(regular);
              transition: color 0.3s ease-in-out;
              &::before {
                content: '';
                margin-right: 8px;
                display: inline-block;
                width: 14px;
                height: 14px;
                background-color: color(eden-neutral-7);
                border-radius: 4px;
                border: 1px solid #93a29b;
                transition: border 200ms ease-in-out;
              }
              &.checkmark {
                color: color(eden-neutral-1);
                &::before {
                  background-color: color(eden-green-primary);
                  border: 1px solid color(eden-green-primary);
                }
                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 17px;
                  left: 17px;
                  width: 4px;
                  height: 6px;
                  border: solid #ffffff;
                  border-width: 0 1.5px 1.5px 0;
                  transform: rotate(45deg);
                }
              }
            }
            input[type='checkbox'] {
              cursor: pointer;
              position: absolute;
              width: 100%;
              opacity: 0;
              z-index: 2;
              height: 15px;
            }

            &:hover {
              background: rgba(3, 168, 78, 0.1);
              label {
                color: color(eden-neutral-1);

                &::before {
                  border: 1px solid color(eden-green-primary);
                }
                cursor: pointer;
              }
            }
          }
          .current {
            background: rgba(228, 232, 230, 0.4);
          }
          .hidden {
            visibility: hidden;
          }
          .visible {
            visibility: visible;
          }
        }

        .slide-fade-enter-active {
          transition: all 0.5s ease;
        }
        .slide-fade-leave-active {
          transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
        }
        .slide-fade-enter,
        .slide-fade-leave-to {
          transform: translateY(5px);
          opacity: 0;
        }
      }
      .alert {
        background: #fffdf5;
        border: 1px solid #ffebb2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 800px;
        border-radius: 8px;
        padding: 16px;
        .img-bg1 {
          margin-right: $gap + 4;
        }
      }
      .btn--submit {
        line-height: 23px;
        @include font-size(lg);
        background-color: color(eden-green-primary);
        color: color(eden-neutral-7);
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        padding: $gap * 1.6 $gap * 2.9;
        margin-top: $gap * 4.4;
        &:hover {
          box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
          background-color: color(eden-green-250);
          color: color(eden-neutral-7);
        }
        &:hover:not(:disabled) {
          box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
          color: color(eden-neutral-7);
        }
        &:disabled {
          cursor: not-allowed;
        }
        &:active {
          background-image: radial-gradient(
            circle at center right,
            rgba(0, 141, 64, 0.1) 50%,
            #008d40 50%
          );
        }
        &.loading {
          background: linear-gradient(
            to right,
            color(eden-green-primary) 10%,
            color(eden-green-250) 50%,
            color(eden-green-primary) 60%
          );
          background-size: 500px;
          animation: buttonAnimate 1s linear infinite forwards;
        }
      }
      .back--btn {
        color: color(eden-green-primary);
        @include font-size(lg);
        transition: all 0.4s ease-in-out;
        margin-top: $gap * 3.2;
      }
      .hide {
          display: none;
      }
      .light{
        background: #E9FBF2;
        border: 1px solid #03A84E;
        color: #0F241B;
        border-radius: 4px;
      }
    }
    &-indicator {
      margin-top: $gap * 4;
      margin-bottom: $gap * 4;
      text-align: center;
     .dot {
      height: 8px;
      width: 8px;
      background-color: #E2E9E6;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      &.active {
        background-color: #03a84e;
      }
     }
    }
   }
   @include respond(md) {
    padding: $gap * 11 $gap * 3.9;
    margin-bottom: $gap * 13.1;
    &__form{
      padding: $gap * 2;
      margin-bottom: $gap * 7.6;
      padding-top: $gap * 11.0;
     }
   }
   @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
  @include respond(xl) {
    padding: $gap * 1.1;
  }
}

.modal__body {
  // background-color: color(eden-neutral-7);
  .company__modal {
    @include font-family(cerebri);
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: color(eden-neutral-1);
      margin-bottom: $gap + 7;
      h3 {
        @include font-size(xl);
        line-height: 32px;
        @include font-weight(medium);
        @include font-family(cerebri);
      }
      .btn {
        margin-left: auto;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: color(eden-neutral-1);
      h5 {
        @include font-size(2xl);
        line-height: 38px;
        @include font-weight(medium);
        @include font-family(cerebri);
        margin-top: $gap * 4;
      }
      p {
        text-align: center;
        padding-top: $gap + 6;
        padding-bottom: $gap * 4;
        @include font-size(lg);
        line-height: 28px;
        @include font-weight(light);
        @include font-family(cerebri);
        span {
          color: color(eden-green-primary);
          @include font-weight(medium);
        }
      }
      .btn--submit {
        line-height: 23px;
        @include font-size(lg);
        background-color: color(eden-green-primary);
        color: color(eden-neutral-7);
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        padding: $gap * 1.6 $gap * 2.9;
        margin-top: $gap * 2.4;
        &:hover {
          box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
          background-color: color(eden-green-250);
          color: color(eden-neutral-7);
        }
        &:active {
          background-image: radial-gradient(
            circle at center right,
            rgba(0, 141, 64, 0.1) 50%,
            #008d40 50%
          );
        }
      }
    }
  }
}
