@import '../../style.scss';

.container {
  width: 100%;
  background-color: color(eden-neutral-7);
}

.contact {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $gap * 2.9;
    padding-top: $gap * 18;
    color: color(eden-neutral-1);
    h1 {
      @include font-size(7xl);
      @include font-weight(bold);
      line-height: 62px;
    }
    p {
      text-align: center;
      width: 40%;
      margin-top: $gap * 2.4;
      line-height: 29px;
      @include font-size(lg);
      @include font-weight(light);
    }

    @include respond(md) {
      margin: 0 auto $gap * 2.9 auto;
      padding-top: $gap * 18;
      width: 90%;
      h1 {
        @include font-size(5xl);
        line-height: 47px;
      }
      p {
        width: 80%;
      }
    }
    @include respond(xxl) {
      max-width: 1440px;
      margin: 0 auto $gap * 2.9 auto;
    }
  }

  &__inquires {
    margin: 0 auto;
    width: 83%;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 33%;
      padding: $gap * 5 $gap * 2.8 $gap * 4 $gap * 2.8;
      &.press {
        transition: box-shadow 0.5s ease-out;
        &:hover {
          box-shadow: 0px 20px 50px rgba(255, 235, 222, 0.6);
        }
        h3 {
          background-color: color(eden-orange-100);
        }
      }
      &.partner {
        transition: box-shadow 0.5s ease-out;
        &:hover {
          box-shadow: 0px 20px 50px rgba(229, 233, 252, 0.6);
        }
        h3 {
          background-color: color(eden-laundary);
        }
      }
      &.support {
        transition: box-shadow 0.5s ease-out;
        &:hover {
          box-shadow: 0px 20px 50px rgba(255, 232, 229, 0.6);
        }
        h3 {
          background-color: color(eden-red-50);
        }
      }
      h3 {
        border-radius: 16px;
        padding: $gap - 4 $gap + 2;
        line-height: 52px;
        @include font-size(6xl);
      }
      h5 {
        margin: $gap * 3.2 0 $gap + 2;
        @include font-size(xl);
        line-height: 26px;
        @include font-weight(bold);
        color: color(eden-neutral-1);
      }
      p {
        text-align: center;
        line-height: 29px;
        @include font-size(lg);
        color: color(eden-neutral-2);
        @include font-weight(light);
        margin-bottom: $gap * 2.8;
      }
      a {
        @include font-size(lg);
        color: color(eden-green-primary);
        cursor: pointer;
        line-height: 29px;
        margin-top: auto;
      }
    }

    @include respond(md) {
      flex-direction: column;
      justify-content: center;
    }
    @include respond(xxl) {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &__office {
    margin: $gap * 12 auto $gap * 20 auto;
    display: flex;
    width: 83%;
    justify-content: space-between;
    box-shadow: 12px -12px 0px#FFEBDE;
    border-radius: 8px;

    &-address {
      background-color: color(eden-neutral-1);
      color: color(eden-neutral-7);
      padding: $gap * 4.8;
      border-radius: 8px 0 0 8px;
      flex: 0 0 38%;
      h5 {
        line-height: 31px;
        @include font-size(2xl);
        @include font-weight(bold);
        margin-bottom: $gap * 2.4;
      }
      p {
        @include font-size(base);
        line-height: 24px;
      }
      .email {
        margin: $gap * 3.2 0 $gap * 4.8 0;
        p {
          &:first-child {
            margin-bottom: $gap - 2;
          }
        }
      }
      a {
        padding: $gap + 3 $gap * 3.2;
        border: 1px solid #c9d0cd;
        border-radius: 4px;
        color: color(eden-neutral-5);
      }
    }
    &-members {
      flex: 0 0 62%;
      height: 415px;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 8px 8px 0;
      }
    }

    @include respond(md) {
      flex-direction: column;
      justify-content: center;
      box-shadow: none;
      width: 90%;
      &-address {
        border-radius: 0px 0 8px 8px;
        text-align: center;
        padding: $gap * 2.4 $gap * 2.4 $gap * 4 $gap * 2.4;
      }
      &-members {
        order: -1;
        height: 182px;
        img {
          border-radius: 8px 8px 0px 0;
        }
      }
    }

    @include respond(xxl) {
      max-width: 1440px;
      margin: $gap * 12 auto $gap * 20 auto;
    }
  }
}
