@import "../../style.scss";

.container {
  width: 100%;
  &--hero {
    background-color: color(eden-green-senary);
  }

  &--description {
    background-color: #fffcfa;
  }
  &--menu {
  }
  &--wall {
    background-color: color(eden-blue-50);
    background-image: url("https://res.cloudinary.com/eden-life-inc/image/upload/v1611747469/eden-website-v2/bg6_rob773.svg"),
      url("https://res.cloudinary.com/eden-life-inc/image/upload/v1611747469/eden-website-v2/bg7_bpblhs.svg");
    background-position: top 30% right, bottom 15% left 20%;
    background-repeat: no-repeat;
    @include respond(md) {
      background-position: top 15% right, bottom 15% left 20%;
    }
  }
  &--options {
    background: color(eden-neutral-7)
      url("https://res.cloudinary.com/eden-life-inc/image/upload/v1611320681/eden-website-v2/service-bg1_ofyubm.svg")
      no-repeat top -20% left;
    @include respond(md) {
      background: color(eden-neutral-7)
        url("https://res.cloudinary.com/eden-life-inc/image/upload/v1611320681/eden-website-v2/service-bg1_ofyubm.svg")
        no-repeat bottom -70% left;
    }
  }

  &--plan {
    background-color: color(eden-green-senary);
    background-image: url("https://res.cloudinary.com/eden-life-inc/image/upload/v1611834564/eden-website-v2/bg-8_d0hgzi.svg");
    background-position: bottom 15% right 15%;
    background-repeat: no-repeat;
    @include respond(md) {
      background-position: bottom 3% right 15%;
      background-size: 30%;
    }
  }
}

.hero {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 20 0 $gap * 5.3 0;
  background-color: color(eden-green-senary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    color: color(eden-neutral-1);
    flex: 0 0 55%;
    h1 {
      line-height: 70px;
      @include font-size(8xl);
      @include font-weight(bold);
      &.mobile {
        display: none;
      }
      span {
        color: color(eden-green-primary);
        box-shadow: inset 0 -23px 0 #c9f8de;
      }
    }
    ul {
      padding: $gap * 2;
      li {
        margin: $gap 0;
        font-size: 1.125rem;
      }
    }
    p {
      margin: $gap * 3.2 0 $gap * 4 0;
      line-height: 29px;
      @include font-size(lg);
      width: 80%;
    }
  }
  &__button {
    display: flex;
    gap: $gap * 2.4;
    &-solid {
      line-height: 23px;
      @include font-size(lg);
      background-color: color(eden-green-primary);
      color: color(eden-neutral-7);
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      padding: $gap * 2 $gap * 3.2;

      &:hover {
        box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
        background-color: color(eden-green-250);
        color: color(eden-neutral-7);
      }
      &:active {
        background-image: radial-gradient(circle at center right, rgba(0, 141, 64, 0.1) 50%, #008d40 50%);
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: $gap + 2;
      line-height: 29px;
      @include font-size(lg);
      color: color(eden-green-primary);
    }
  }
  &__img {
    position: relative;
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-bg1 {
    }
  }

  @include respond(md) {
    flex-direction: column;
    width: 100%;
    &__title {
      width: 90%;
      text-align: center;
      h1 {
        line-height: 47px;
        @include font-size(5xl);
        display: none;
        &.mobile {
          display: block;
        }
      }
      ul {
        list-style: none;
      }
      p {
        line-height: 24px;
        @include font-size(base);
        margin: $gap * 2.4 auto $gap * 5.5 auto;
        width: 75%;
      }
    }
    &__button {
      width: 90%;
      flex-direction: column;
      margin: 0 auto;
      &-link {
        margin-top: $gap * 3.2;
        align-self: center;
      }
    }
    &__img {
      display: none;
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.description {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 6 0 $gap * 9.8 0;
  &__title {
    color: color(eden-neutral-1);
    margin-bottom: $gap * 6;
    h3 {
      @include font-size(6xl);
      line-height: 55px;
      @include font-weight(bold);
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider {
    flex: 0 0 50%;
    display: flex;
    &-vertical {
      margin-top: $gap + 5;
      // background-color: color(eden-neutral-6);
      width: 5px;
      height: 410px;
      margin-left: $gap * 2;
      position: relative;
      z-index: 5;
      cursor: pointer;

      .slide-y {
        height: 0%;
        width: 100%;
        background-color: color(eden-green-secondary);
        position: relative;
        display: block;
        transition: 0.08s height;
      }
      .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--b {
          fill: none;
          stroke: #61db98;
          stroke-width: 8;
          stroke-dasharray: 390;
          stroke-dashoffset: 390;
          animation: dash 22s linear forwards;
        }
        &--d {
          fill: none;
          stroke: #61db98;
          stroke-width: 11;
          stroke-dasharray: 390;
          stroke-dashoffset: 390;
          animation: dash 26s linear forwards;
          animation-delay: 12s;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
            fill: color(eden-green-primary);
          }
        }
        &--c {
          fill: color(eden-neutral-6);
          animation: circleScale 1s linear forwards;
          animation-delay: 11s;
        }
        &--e {
          fill: color(eden-neutral-6);
          animation: circleScale 1s linear forwards;
          animation-delay: 25s;
        }
        @keyframes circleScale {
          to {
            fill: color(eden-green-primary);
          }
        }
      }
    }
    &-horizontal {
      display: none;
    }
    &-text {
      margin-left: $gap * 3.5;
      color: color(eden-neutral-1);
      h5 {
        line-height: 31px;
        @include font-size(2xl);
        @include font-weight(bold);
        margin-bottom: $gap + 2;
      }
      p {
        line-height: 29px;
        @include font-size(lg);
        @include font-weight(light);
        margin-bottom: $gap * 5.6;
        width: 70%;
      }
      .btn {
        line-height: 23px;
        @include font-size(lg);
        background-color: color(eden-green-primary);
        color: color(eden-neutral-7);
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        padding: $gap + 6 $gap * 3.2;

        &:hover {
          box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
          background-color: color(eden-green-250);
          color: color(eden-neutral-7);
        }
        &:active {
          background-image: radial-gradient(circle at center right, rgba(0, 141, 64, 0.1) 50%, #008d40 50%);
        }
      }
      .one {
        color: color(eden-neutral-5);
        transition: all 0.4s ease-in-out;

        &.view {
          color: color(eden-neutral-1);
        }
      }
      .two {
        color: color(eden-neutral-5);
        transition: all 0.4s ease-in-out;

        &.view {
          color: color(eden-neutral-1);
        }
      }
      .three {
        color: color(eden-neutral-5);
        transition: all 0.4s ease-in-out;

        &.view {
          color: color(eden-neutral-1);
        }
      }
    }
  }
  &__video {
    flex: 0 0 50%;
    align-self: flex-start;
    &-item {
      height: 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    video {
      width: 100%;
      height: 100%;
    }
    .btn--replay {
      margin-top: $gap * 5.6;
      display: none;
      justify-content: space-between;
      align-items: center;
      @include font-size(base);
      line-height: 24px;
      color: color(eden-green-primary);
      &.show {
        display: flex;
      }
      span {
        margin-left: $gap + 3;
      }
    }
  }

  @include respond(md) {
    width: 100%;
    padding: $gap * 6.4 0;

    &__title {
      text-align: center;
      margin-bottom: $gap * 5.2;
      h3 {
        @include font-size(3xl);
        line-height: 36px;
      }
    }
    &__body {
      flex-direction: column;
    }
    &__slider {
      flex-direction: column;
      width: 100%;
      order: 0;
      margin-top: $gap * 10;
      margin-left: 0;

      &-vertical {
        display: none;
      }
      &-horizontal {
        display: flex;
        justify-content: center;
        .timeline {
          display: flex;
          align-items: center;

          &--b {
            fill: none;
            stroke: #61db98;
            stroke-width: 8;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            animation: dash 22s linear forwards;
          }
          &--d {
            fill: none;
            stroke: #61db98;
            stroke-width: 11;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            animation: dash 26s linear forwards;
            animation-delay: 12s;
          }
          @keyframes dash {
            to {
              stroke-dashoffset: 0;
              fill: color(eden-green-primary);
            }
          }
          &--c {
            fill: color(eden-neutral-6);
            animation: circleScale 1s linear forwards;
            animation-delay: 11s;
          }
          &--e {
            fill: color(eden-neutral-6);
            animation: circleScale 1s linear forwards;
            animation-delay: 25s;
          }
          @keyframes circleScale {
            to {
              fill: color(eden-green-primary);
            }
          }
        }
        .slide-x {
          height: 100%;
          width: 0%;
          background-color: color(eden-green-secondary);
          position: relative;
          display: block;
          transition: 0.08s width;
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }
      &-text {
        margin-top: $gap * 3.5;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        gap: $gap * 5.8;
        margin-right: $gap * 4;
        h5 {
          text-align: center;
          line-height: 26px;
          @include font-size(xl);
          margin-bottom: $gap + 6;
        }
        p {
          line-height: 24px;
          @include font-size(base);
          margin-bottom: 0;
          width: 100%;
          text-align: center;
        }
        .one {
          margin-left: $gap * 4;
        }

        > * {
          flex: 0 0 90%;
        }
        .btn {
          display: none;
        }
      }
    }
    &__video {
      order: -1;
      &-item {
        height: 280px;
      }

      .btn--replay {
        margin-top: $gap * 3.6;
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.menu {
  width: 83%;
  margin: 0 auto;
  padding: $gap * 8 0;
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
    color: color(eden-neutral-1);
    h3 {
      @include font-size(6xl);
      line-height: 55px;
      @include font-weight(bold);
      margin-bottom: $gap + 6;
    }
    p {
      line-height: 29px;
      @include font-size(lg);
      @include font-weight(light);
    }
  }
  &__nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e8e6;
    margin-top: $gap * 5;
    position: relative;

    .carousel-container {
      display: flex;
      width: 100%;
      .owl-carousel {
        display: grid;
      }
      // owl-theme owl-loaded owl-drag
      .prev,
      .next {
        z-index: 100;
        border: 0.5px solid color(eden-green-primary);
        padding: 8px 10px;
        border-radius: 4px;
        position: absolute;
        background-color: color(eden-neutral-7);
        bottom: 15px;
        cursor: pointer;
      }
      .prev {
        transform: rotate(180deg);
        left: 0;
      }
      .next {
        right: 0;
      }
    }

    &-item {
      &:first-child {
        margin-left: 0;
      }
      cursor: pointer;
      padding-top: $gap;
      margin-left: $gap * 4;
      color: color(eden-neutral-4);
      @include font-size(base);
      line-height: 24px;
      padding-bottom: $gap + 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.4s ease-in-out;
      &:hover {
        color: color(eden-neutral-1);
      }
      p {
        transition: all 0.4s ease-in-out;
        margin-bottom: $gap - 4;
        white-space: nowrap;
        text-transform: capitalize;

        &.active {
          color: color(eden-neutral-1);
        }
      }
    }
  }
  &__list {
    margin-top: $gap * 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap * 3;
    padding-bottom: $gap * 5;
    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-img {
      
      padding: $gap;
      background-color: #eeeeee;
      border-radius: 8px;
       width: 400px;
        height: 350px;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
       }
      &.fallback {
        padding: 0;
        img {
          border-radius: 8px;
        }
      }
    }
    figcaption {
      margin-top: $gap + 3;
      p {
        text-align: center;
        line-height: 29px;
        @include font-size(lg);
        @include font-weight(light);
        color: color(eden-neutral-1);
        text-transform: capitalize;
      }
    }

    + button {
      width: $gap * 20;
      padding: $gap + 6;
      margin: $gap * 3 auto;
    }
  }
  &__loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: $gap * 4;
    padding: 20px;
    p {
      @include font-size(sm);
      @include font-weight(light);
      color: color(eden-neutral-3);
    }
  }
  .btn {
    color: color(eden-green-primary);
    @include font-size(lg);
    line-height: 23px;
    cursor: pointer;
  }
  @include respond(xl) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @include respond(md) {
    width: 90%;
    &__title {
      h3 {
        @include font-size(3xl);
        line-height: 36px;
        margin-bottom: $gap + 2;
      }
      p {
        line-height: 24px;
        @include font-size(base);
      }
    }
    &__nav {
      a {
        &:first-child {
          margin-left: 0;
        }
        margin-left: $gap * 2.4;
        @include font-size(sm);
        line-height: 21px;
        padding-bottom: $gap * 2.2;
      }
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: $gap * 4.8 $gap + 6;
      padding-bottom: 0;

      &-img {
        height: 250px;
        width: 230px;
        padding: $gap * 3 $gap + 4;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      figcaption {
        p {
          line-height: 24px;
          @include font-size(base);
        }
      }
    }
    .btn {
      margin-top: $gap * 4;
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.wall {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 8 0 $gap * 9 0;
  &__title {
    h3 {
      color: color(eden-neutral-1);
      @include font-size(6xl);
      line-height: 63px;
      @include font-weight(bold);
    }
  }
  &__messages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: $gap * 2.4;
    margin-top: $gap * 4;
    .card {
      width: 384px;
      padding: $gap * 2;
      height: fit-content;
      background-color: color(eden-neutral-7);
      border: 1px solid rgba(228, 232, 230, 0.2);
      border-radius: 8px;
      &:hover {
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
      }
      &__title {
        display: flex;
        align-items: center;
        margin-bottom: $gap + 6;
        &-img {
          margin-right: $gap - 2;
          width: 68px;
          height: 68px;
          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        &-name {
          margin-bottom: 4px;
          color: color(eden-neutral-1);
          @include font-size(base);
        }
        &-handle {
          line-height: 21px;
          @include font-size(sm);
          color: color(eden-green-primary);
        }
      }
      &__description {
        color: color(eden-neutral-2);
        @include font-size(sm);
        line-height: 21px;
      }
      &:first-child {
        grid-column: 1;
        grid-row: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / 3;
      }
      &:nth-child(3) {
        grid-column: 3;
        grid-row: 1 / 4;
      }
      // //
      &:nth-child(4) {
        grid-column: 1;
        grid-row: 2 / 4;
      }
      &:nth-child(5) {
        grid-column: 2;
        grid-row: 2.5 / 5;
      }
      &:nth-child(6) {
        grid-column: 3;
        grid-row: 3/ 5;
        margin-top: 80px;
      }
      // //
      &:nth-child(7) {
        grid-column: 1;
        grid-row: 3.5 / 5;
        margin-top: -15px;
      }
      &:nth-child(8) {
        grid-column: 2;
        grid-row: 4 / 7;
      }
      &:nth-child(9) {
        grid-column: 3;
        grid-row: 4 / 7;
        margin-top: 60px;
      }
    }
  }

  @include respond(md) {
    flex-direction: column;
    padding: $gap * 6.4 0 $gap * 8 0;
    width: 100%;

    &__title {
      width: 100%;
      text-align: center;
      margin-bottom: $gap * 4.8;
      h3 {
        @include font-size(3xl);
        line-height: 36px;
      }
    }
    &__messages {
      overflow: auto;
      margin-left: $gap * 2.4;
      .card {
        width: 307px;
        padding: $gap + 6 $gap + 9;
      }
    }
  }
  @include respond(xl) {
    &__messages {
      overflow: auto;
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.plan {
  margin: 0 auto;
  width: 83%;
  padding: $gap * 17 0 $gap * 17 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    flex: 0 0 50%;
    color: color(eden-neutral-1);

    h3 {
      @include font-size(6xl);
      line-height: 55px;
      @include font-weight(bold);
      margin-bottom: $gap * 4.8;
    }
    p {
      @include font-size(lg);
      line-height: 29px;
      @include font-weight(light);
      width: 60%;
    }
    ul {
      li {
        list-style: none;
        margin-top: $gap * 4.2;
        display: flex;
        .icon {
          margin-right: $gap * 2.8;
          border-radius: 8px;
          padding: $gap - 2 $gap + 2;
          line-height: 31px;
          @include font-size(2xl);
          &--text {
            h5 {
              @include font-size(lg);
              line-height: 24px;
              margin-bottom: 4px;
            }
            p {
              @include font-size(base);
              line-height: 23px;
              width: 100%;
            }
          }
          &--one {
            background-color: color(eden-laundary);
          }
          &--two {
            background-color: color(eden-gifting);
          }
          &--three {
            background-color: color(eden-cleaning);
          }
        }
      }
    }
  }

  &__price {
    height: 555px;
    flex: 0 0 50%;
    border: 1px solid #e4e8e6;
    border-radius: 8px;
    background-color: color(eden-neutral-7);
    padding: 0 $gap * 5.2;
    ul {
      padding: $gap * 3.2 0 $gap + 2 0;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      border-bottom: 1px solid #e4e8e6;
      margin-bottom: $gap * 3.2;

      li {
        list-style: none;
        color: color(eden-neutral-4);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &.active {
          color: color(eden-green-primary);
          span {
            padding-bottom: $gap - 4;
          }
        }
        &:hover {
          color: color(eden-green-primary);
        }
      }
    }
    &-weekly {
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }
    &-monthly {
      .plan__price-item {
        .mobile {
          display: none;
        }
        .desktop {
          display: block;
        }
        p {
          margin-top: $gap * 4;
          &:first-child {
            margin-top: $gap * 4.8;
          }
        }
      }
      .plan__price-bottom {
        margin: $gap * 6 0;
      }
    }

    &-item {
      &.one {
        p {
          margin-top: $gap * 4.8;
        }
      }
      p {
        margin-top: $gap * 3.2;
        margin-bottom: $gap - 2;
        line-height: 24px;
        @include font-size(base);
        color: color(eden-neutral-1);
      }
      .btn {
        &--group {
          display: flex;
          justify-content: space-between;
          align-items: stretch;

          input {
            color: color(eden-neutral-1);
            border: none;
            border: 1px solid #e4e8e6;
            background-color: color(eden-neutral-7);
            outline: none;
            padding: $gap + 8 $gap * 2.3;
            width: 100%;
            text-align: center;
            @include font-size(lg);
          }
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        &--item {
          color: color(eden-neutral-1);
          background-color: color(eden-neutral-6);
          padding: $gap + 8;
          border: 1px solid #e4e8e6;
          cursor: pointer;
          &.plus {
            border-radius: 0px 8px 8px 0px;
          }
          &.minus {
            border-radius: 8px 0px 0px 8px;
          }
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: $gap * 21 0 $gap * 4 0;
      color: color(eden-neutral-1);
      h5 {
        @include font-family(cerebri);
        @include font-weight(semi-bold);
        @include font-size(2xl);
        line-height: 38px;
        display: flex;
        align-items: center;
        .price {
          @include font-size(lg);
          @include font-weight(light);
          line-height: 29px;
        }
        .icon {
          margin: 0 $gap - 2;
        }
      }
      p {
        margin-top: 4px;
        color: color(eden-neutral-2);
        @include font-size(lg);
        line-height: 29px;
      }
    }

    .slide-fade-enter-active {
      transition: all 0.5s ease;
    }
    .slide-fade-leave-active {
      opacity: 0;
    }
    .slide-fade-enter,
    .slide-fade-leave-to {
      transform: translateY(5px);
      opacity: 0;
    }
  }

  @include respond(md) {
    width: 90%;
    padding: $gap * 6.4 0 $gap * 7.6 0;
    flex-direction: column;
    &__title {
      width: 100%;
      text-align: center;
      margin-bottom: $gap * 4.8;
      h3 {
        @include font-size(3xl);
        line-height: 36px;
        margin-bottom: $gap + 2;
      }
      p {
        @include font-size(base);
        line-height: 24px;
        margin: 0 auto;
      }
      ul {
        li {
          list-style: none;
          margin-top: $gap * 4.8;
          display: flex;
          flex-direction: column;
          align-items: center;
          .icon {
            margin-right: 0;
            margin-bottom: $gap * 2.4;
            &--text {
              h5 {
                margin-bottom: 8px;
              }
              p {
                width: 100%;
              }
            }
          }
        }
      }
    }
    &__price {
      width: 100%;
      padding: 0 $gap * 2;
      ul {
        margin-bottom: $gap * 2.4;
        @include font-size(sm);
      }

      &-monthly {
        .plan__price-item {
          .mobile {
            display: block;
          }
          .desktop {
            display: none;
          }
          p {
            margin-top: $gap * 3.2;
            &:first-child {
              margin-top: $gap * 2.4;
            }
          }
        }
        .plan__price-bottom {
          margin: $gap * 3.4 0;
        }
      }

      &-item {
        p {
          // margin-top: $gap * 3.2;
          line-height: 21px;
          @include font-size(sm);
          @include font-weight(medium);
        }
        .btn {
          &--group {
            input {
              padding: $gap + 4 $gap * 2.3;
              width: 100%;
              @include font-size(base);
            }
          }
          &--item {
            padding: $gap + 6;
          }
        }
      }

      &-bottom {
        margin: $gap * 3.4 0;
        h5 {
          @include font-size(lg);
          line-height: 29px;
          .price {
            @include font-size(base);
            line-height: 24px;
          }
        }
        p {
          @include font-size(base);
          line-height: 26px;
        }
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.options {
  margin: 0 auto $gap * 8 auto;
  width: 83%;
  padding: $gap * 12 0 $gap * 20 0;
  &__title {
    margin-bottom: $gap * 4.8;
    color: color(eden-neutral-1);

    h3 {
      @include font-size(5xl);
      line-height: 47px;
      @include font-weight(bold);
    }
    p {
      @include font-size(lg);
      line-height: 29px;
      @include font-weight(light);
    }
  }

  &__service {
    display: flex;
    color: color(eden-neutral-1);
    &-item {
      &:first-child {
        margin-left: 0px;
      }
      margin-left: $gap * 2.4;
      flex: 0 0 33%;
      border-radius: 8px;
      padding: $gap * 2.4 0 0 $gap * 3.2;
      display: flex;
      flex-direction: column;
      .btn {
        border-radius: 40px;
        padding: $gap - 2 0;
        width: fit-content;
        transition: all 0.4s ease-in-out;
        svg {
          margin-left: $gap - 1;
        }
      }
      h3 {
        @include font-size(5xl);
        line-height: 47px;
        @include font-weight(bold);
      }
      h5 {
        line-height: 31px;
        @include font-size(2xl);
        @include font-weight(bold);
        margin: $gap - 2 0 $gap + 2 0;
      }
      p {
        line-height: 24px;
        @include font-size(base);
        margin: 0 $gap * 3.2 $gap * 2 0;
      }
      img {
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 100%;
        height: auto;
      }
      &:hover {
        .options__service-bg {
          margin-right: 0;
          margin-bottom: 0;
          background: transparent;
          box-shadow: none;
        }
        img {
          border-top-left-radius: 0px;
          border-bottom-right-radius: 8px;
        }
      }
    }
    &-bg {
      margin-right: $gap - 2;
      margin-bottom: $gap - 2;
      align-self: flex-end;
      transition: all 0.4s ease-in-out;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      width: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      height: 129px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-food {
      background-color: color(eden-green-quinary);
      .options__service-bg {
        box-shadow: 8px 8px 0px#a2f0c5;
      }
      &:hover {
        .btn {
          background-color: #ddfeee;
          padding: $gap - 2 $gap * 1.6;
        }
      }
    }
    &-laundry {
      background-color: color(eden-purple-100);
      .options__service-bg {
        box-shadow: 8px 8px 0px #a0b0fe;
      }
      &:hover {
        .btn {
          background-color: color(eden-purple-150);
          padding: $gap - 2 $gap * 1.6;
        }
      }
    }
    &-cleaning {
      background-color: color(eden-orange-50);
      .options__service-bg {
        box-shadow: 8px 8px 0px #ffac76;
      }
      &:hover {
        .btn {
          background-color: color(eden-orange-100);
          padding: $gap - 2 $gap * 1.6;
        }
      }
    }
    &-gifting {
      background-color: color(eden-blue-100);
      .options__service-bg {
        box-shadow: 8px 8px 0px #7ddbf0;
      }
      &:hover {
        .btn {
          background-color: #ddf5fe;
          padding: $gap - 2 $gap * 1.6;
        }
      }
    }
  }

  @include respond(md) {
    padding: $gap * 6.4 0 $gap * 20 0;
    margin: 0 auto $gap * 4 auto;

    &__title {
      text-align: center;
      h3 {
        @include font-size(3xl);
        line-height: 36px;
      }
      p {
        @include font-size(base);
        line-height: 24px;
      }
    }
    &__service {
      flex-direction: column;
      &-item {
        margin-left: 0px;
        margin-bottom: $gap * 2;
        width: 100%;
        padding: $gap * 2.4;
        h3 {
          @include font-size(4xl);
          line-height: 42px;
        }
        h5 {
          @include font-size(xl);
          line-height: 26px;
        }
        p {
          margin: 0 0 $gap * 2 0;
          @include font-size(base);
          line-height: 24px;
        }
      }

      &-bg {
        display: none;
      }
      &-food {
        .btn {
          background-color: #ddfeee;
          padding: $gap - 2 $gap * 1.6;
        }
      }
      &-laundry {
        .btn {
          background-color: color(eden-purple-150);
          padding: $gap - 2 $gap * 1.6;
        }
      }
      &-cleaning {
        .btn {
          background-color: color(eden-orange-100);
          padding: $gap - 2 $gap * 1.6;
        }
      }
      &-gifting {
        .btn {
          background-color: #ddf5fe;
          padding: $gap - 2 $gap * 1.6;
        }
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto $gap * 8 auto;
  }
}
