@import '../../style.scss';

.hero {
    &__header {
        flex: 0 0 45%;
        &-title {
          h1 {
            width: 100%;
            @include font-size(4xl);
            line-height: $gap * 5;
          } 
          .pay {
            margin-left: 0;
          }
          ul {
            padding: 0;
          li {
              margin: $gap 0;
              list-style: none;
              @include font-size(base);
              .icon {
                margin-right: 8px;
              }
            }
          }
          @include respond(md) {
            ul {
              list-style: none;
              text-align: center;
            }
          }     
      }
    }
    &__img {
      flex: 0 0 45%;
    }
  } 
  
.menu {
    padding: 0 !important;
    margin: 0 auto $gap;

    .menu-btn {
        margin-top: 0 !important;
    }
}