@import '../../style.scss';

.container {
  &--hero {
    width: 100%;
    background-color: color(eden-green-senary);
  }
  &--content {
    width: 100%;
    background-color: color(eden-neutral-7);
  }

  &--related {
    width: 100%;
    background-color: color(eden-neutral-7);
  }

  &--subscribe {
    width: 100%;
    background-color: color(eden-neutral-7);
  }
  &--comments {
    margin: 0 auto 200px auto;
    width: 83%;
    background-color: color(eden-neutral-7);
    @include respond(xxl) {
      max-width: 1440px;
      margin: 0 auto 200px auto;
    }
  }
}

.hero {
  margin: 0 auto 400px auto;
  width: 83%;
  padding: $gap * 14 0 $gap * 20 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: color(eden-neutral-1);
  position: relative;

  &__featured {
    position: absolute;
    top: 80%;
    height: 540px;
    width: 80%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &__date {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    line-height: 18px;
    @include font-size(xs);
    color: color(eden-neutral-2);
    .dot {
      padding: 0 8px;
    }
    &-category {
      cursor: pointer;
    }
  }
  &__title {
    width: 65%;
    text-align: center;
    line-height: 55px;
    @include font-size(4xl);
    @include font-weight(bold);
    margin-top: $gap + 6;
    margin-bottom: $gap * 3.2;
  }
  &__author {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: $gap + 2;
    }
    p {
      line-height: 21px;
      @include font-size(sm);
    }
  }
  @include respond(md) {
    padding: $gap * 14 0 $gap * 10 0;
    margin-bottom: 100px;

    &__title {
      width: 100%;
      line-height: 42px;
      @include font-size(4xl);
    }
    &__featured {
      width: 100%;
      top: 90%;
      height: 150px;
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto 400px auto;
    &__featured {
      width: 100%;
    }
  }
}

.content {
  width: 70%;
  margin: 0 auto;
  padding: $gap * 14 0 $gap * 12 0;
  display: flex;
  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: $gap * 6;
    &-title {
      color: color(eden-neutral-1);
      line-height: 26px;
      margin-bottom: $gap * 2;
    }
    .link {
      margin-bottom: $gap * 2;
      svg {
        fill: color(eden-neutral-1);
        transition: all 0.4s ease-in-out;
      }
      &--twitter {
        &:hover {
          fill: #18a0fb;
        }
      }
      &--email {
        &:hover {
          fill: #5571ff;
        }
      }
      &--facebook {
        &:hover {
          fill: #1877f2;
        }
      }
      &--linkedin {
        &:hover {
          fill: #2d64bc;
        }
      }
      &--whatsapp {
        &:hover {
          fill: #20b038;
        }
      }
    }
  }

  @include respond(md) {
    width: 90%;
    flex-direction: column;
    padding: $gap * 5 0 $gap * 10 0;
    &__social {
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 0;
      margin-bottom: $gap * 4;
      .link {
        margin-bottom: 0;
      }
      &-title {
        @include font-size(sm);
        margin-bottom: $gap - 0.5;
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.related {
  margin: 0 auto;
  width: 83%;
  padding: 0 0 $gap * 20 0;
  &__title {
    line-height: 42px;
    @include font-size(5xl);
    @include font-weight(bold);
    margin-bottom: $gap * 4.8;
    text-align: center;
    color: color(eden-neutral-1);
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap * 4;
  }
  &__item {
    height: 480px;

    &-img {
      width: 100%;
      height: 45%;
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
    }
    &-details {
      height: 55%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-radius: 0px 0px 8px 8px;
      color: color(eden-neutral-1);
      padding: $gap * 2 0;
      h5 {
        line-height: 26px;
        @include font-size(xl);
        @include font-weight(bold);
      }
      p {
        padding-top: $gap + 2;
        padding-bottom: $gap + 6;
        line-height: 21px;
        @include font-size(sm);
      }
    }

    &-date {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      line-height: 18px;
      @include font-size(xs);
      color: color(eden-neutral-2);
      margin-bottom: $gap * 2.4;
      .dot {
        padding: 0 8px;
      }
    }
    &-author {
      margin-top: auto;
      display: flex;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: $gap + 2;
      }
      p {
        line-height: 21px;
        @include font-size(sm);
      }
    }
  }
  @include respond(md) {
    &__title {
      @include font-size(2xl);
      line-height: 31px;
      margin-bottom: $gap * 4;
    }
    &__box {
      display: flex;
      flex-direction: column;
    }
    &__item {
      &-img {
        height: 190px;
      }
      &-details {
        padding: $gap * 2 0;
        h5 {
          line-height: 23px;
          @include font-size(lg);
        }
      }
      &-date {
        margin-bottom: $gap * 2.4;
      }
    }
  }
  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.subscribe {
  margin: 0 auto;
  width: 83%;
  padding: 0 0 $gap * 12 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: color(eden-neutral-1);
  background-image: url('~@/assets/images/blog-bg5.svg');
  background-position: top 20% right 28%;
  background-repeat: no-repeat;
  &__success {
    background-image: none;
    background-repeat: no-repeat;
  }
  h3 {
    line-height: 31px;
    @include font-size(2xl);
    @include font-weight(bold);
  }
  p {
    margin: $gap + 2 0 $gap * 4.4 0;
    line-height: 26px;
    @include font-size(base);
    width: 38%;
    text-align: center;
  }
  .form {
    display: flex;
    &__input {
      input[type='email'] {
        border: 1px solid #c9d0cd;
        border-radius: 4px;
        background-color: color(eden-neutral-7);
        color: color(eden-neutral-1);
        padding: $gap + 4 $gap + 6;
        @include font-size(lg);
        @include font-family(cerebri);
        width: 350px;
        height: 48px;
        &::placeholder {
          color: color(eden-neutral-4);
          @include font-weight(light);
        }
        &:focus {
          outline: none;
          border: 1px solid #21312a;
        }
        &.has-error {
          border: 1px solid color(eden-red);
        }
      }
    }
    &__btn {
      margin-left: $gap + 2;
      align-self: center;
      line-height: 23px;
      @include font-size(lg);
      background-color: color(eden-green-primary);
      color: color(eden-neutral-7);
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      padding: $gap * 1.2 $gap * 2.2;
      &:hover {
        box-shadow: 0px 2px 4px rgba(3, 168, 78, 0.239);
        background-color: color(eden-green-250);
        color: color(eden-neutral-7);
      }
      &:active {
        background-image: radial-gradient(
          circle at center right,
          rgba(0, 141, 64, 0.1) 50%,
          #008d40 50%
        );
      }
    }
  }

  @include respond(md) {
    width: 100%;
    padding: $gap * 10 0 $gap * 10 0;
    background-position: top center;

    h3 {
      line-height: 31px;
      @include font-size(2xl);
    }
    p {
      margin: $gap + 2 0 $gap * 4 0;
      line-height: 24px;
      @include font-size(base);
      width: 80%;
      text-align: center;
    }
    &__success {
      p {
        width: 100%;
      }
    }
    .form {
      width: 80%;
      flex-direction: column;
      &__input {
        input[type='email'] {
          width: 100%;
        }
      }
      &__btn {
        margin-top: $gap + 6;
        width: 100%;
        margin-left: 0px;
      }
    }
  }

  @include respond(xxl) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.post__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  p {
    color: color(eden-neutral-1);
  }
}
