@import '../../style.scss';

.container {
  width: 100%;
  background-color: color(eden-neutral-7);
}
.terms {
  &__header {
    width: 83%;
    margin: $gap * 18 auto $gap * 8 auto;
    color: color(eden-neutral-1);
    h1 {
      @include font-size(7xl);
      @include font-weight(bold);
      line-height: 62px;
      margin-bottom: $gap * 8;
      text-align: center;
    }
    &-nav {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid #e4e8e6;
      padding: 0 $gap * 15;

      a {
        color: color(eden-neutral-4);
        @include font-size(base);
        line-height: 24px;
        padding-bottom: $gap * 2.4;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: color(eden-neutral-1);
        }
        p {
          transition: all 0.4s ease-in-out;
          margin-bottom: $gap - 4;
          &.active {
            color: color(eden-neutral-1);
          }
        }
      }
    }

    @include respond(md) {
      margin: $gap * 18 auto $gap * 8 auto;
      width: 90%;
      h1 {
        @include font-size(5xl);
        line-height: 47px;
      }
      &-nav {
        padding: 0;
        overflow: auto;
        justify-content: space-between;
        gap: $gap * 2.2;
        a {
          flex: 0 0 40%;
          @include font-size(sm);
          line-height: 21px;
          padding-bottom: $gap * 2.1;
          p {
            margin-bottom: $gap - 4;
          }
        }
      }
    }
    @include respond(xxl) {
      max-width: 1440px;
      margin: $gap * 18 auto $gap * 2.9 auto;
    }
  }

  &__body {
    width: 60%;
    margin: 0 auto $gap * 20 auto;
    h2 {
      @include font-size(lg);
      @include font-weight(bold);
      line-height: 29px;
      text-transform: uppercase;
      color: red;
      // color: color(eden-neutral-1);
    }
    .content {
      &__title,
      h2 {
        @include font-size(lg);
        @include font-weight(bold);
        line-height: 29px;
        text-transform: uppercase;
        color: color(eden-neutral-1);
      }
    }
    @include respond(md) {
      width: 90%;
    }
  }
}
